{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}
<p>
<a class="normal-link"  data-record-id="{{ record_obj.getSelectedRecordID() }}" data-record-type="{{ record_obj.getRecordType() }}" href="{{ path('sis_student_coursehistory_degrees') }}">Back to Degrees</a>
</p>

<div class="group-box">
<div class="group-box-header">Degree Information</div>
<div class="group-box-contents group">
	{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_DEGREES', db_field: 'EXPECTED_GRADUATION_DATE', db_row_id: degree.STUDENT_DEGREE_ID, value: degree.EXPECTED_GRADUATION_DATE, label: true }) }}
</div>
</div>

<div class="data-table-header-div">
Majors
<span class="data-table-header-buttons">
	{{ kula_table_add('window_window_num_data_table_majors', 'STUD_STUDENT_DEGREES_MAJORS_MAJORS') }}
</span>
</div>
<table id="window_window_num_data_table_majors" class="data-table">
<thead>
	<tr>
	{{ kula_field_name({ delete: true, db_table: 'STUD_STUDENT_DEGREES_MAJORS', db_field: 'STUDENT_MAJOR_ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'STUD_STUDENT_DEGREES_MAJORS', db_field: 'MAJOR_ID', field_name_override: 'Major Name', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	</tr>
</thead>
<tbody>
  {{ kula_display_html({ add: true, db_table: 'STUD_STUDENT_DEGREES_MAJORS', db_field: 'STUDENT_MAJOR_ID', prepend_html: '<tr class="data-table-row-new">' }) }}
	{{ kula_field({ add: true, hidden: true, db_table: 'STUD_STUDENT_DEGREES_MAJORS', db_field: 'STUDENT_DEGREE_ID', value: student_degree_id }) }}
	{{ kula_field({ add: true, delete: true, db_table: 'STUD_STUDENT_DEGREES_MAJORS', db_field: 'STUDENT_MAJOR_ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
	{{ kula_display_html({ add: true, db_table: 'STUD_STUDENT_DEGREES_MAJORS', db_field: 'MAJOR_ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
	{{ kula_field({ add: true, db_table: 'STUD_STUDENT_DEGREES_MAJORS', db_field: 'MAJOR_ID', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_display_html({ add: true, db_table: 'STUD_STUDENT_DEGREES_MAJORS', db_field: 'STUDENT_MAJOR_ID', prepend_html: '</tr>' }) }}
	{% for major in majors %}
	<tr>
		{{ kula_field({ delete: true, db_table: 'STUD_STUDENT_DEGREES_MAJORS', db_field: 'STUDENT_MAJOR_ID', db_row_id: major.STUDENT_MAJOR_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_DEGREES_MAJORS', db_field: 'MAJOR_ID', db_row_id: major.STUDENT_MAJOR_ID, value: major.MAJOR_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
	</tr>
	{% endfor %}
</tbody>
</table>

<div class="data-table-header-div">
Minors
<span class="data-table-header-buttons">
	{{ kula_table_add('window_window_num_data_table_minors', 'STUD_STUDENT_DEGREES_MINORS') }}
</span>
</div>
<table id="window_window_num_data_table_minors" class="data-table">
<thead>
	<tr>
	{{ kula_field_name({ delete: true, db_table: 'STUD_STUDENT_DEGREES_MINORS', db_field: 'STUDENT_MINOR_ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'STUD_STUDENT_DEGREES_MINORS', db_field: 'MINOR_ID', field_name_override: 'Minor Name', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	</tr>
</thead>
<tbody>
  {{ kula_display_html({ add: true, db_table: 'STUD_STUDENT_DEGREES_MINORS', db_field: 'STUDENT_MINOR_ID', prepend_html: '<tr class="data-table-row-new">' }) }}
	{{ kula_field({ add: true, hidden: true, db_table: 'STUD_STUDENT_DEGREES_MINORS', db_field: 'STUDENT_DEGREE_ID', value: student_degree_id }) }}
	{{ kula_field({ add: true, delete: true, db_table: 'STUD_STUDENT_DEGREES_MINORS', db_field: 'STUDENT_MINOR_ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
	{{ kula_display_html({ add: true, db_table: 'STUD_STUDENT_DEGREES_MINORS', db_field: 'STUDENT_MINOR_ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
	{{ kula_field({ add: true, db_table: 'STUD_STUDENT_DEGREES_MINORS', db_field: 'MINOR_ID', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_display_html({ add: true, db_table: 'STUD_STUDENT_DEGREES_MINORS', db_field: 'STUDENT_MINOR_ID', prepend_html: '</tr>' }) }}
	{% for minor in minors %}
	<tr>
		{{ kula_field({ delete: true, db_table: 'STUD_STUDENT_DEGREES_MINORS', db_field: 'STUDENT_MINOR_ID', db_row_id: minor.STUDENT_MINOR_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_DEGREES_MINORS', db_field: 'MINOR_ID', db_row_id: minor.STUDENT_MINOR_ID, value: minor.MINOR_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
	</tr>
	{% endfor %}
</tbody>
</table>

<div class="data-table-header-div">
Concentrations
<span class="data-table-header-buttons">
	{{ kula_table_add('window_window_num_data_table_concentrations', 'STUD_STUDENT_DEGREES_CONCENTRATIONS') }}
</span>
</div>
<table id="window_window_num_data_table_concentrations" class="data-table">
<thead>
	<tr>
	{{ kula_field_name({ delete: true, db_table: 'STUD_STUDENT_DEGREES_CONCENTRATIONS', db_field: 'STUDENT_CONCENTRATION_ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'STUD_STUDENT_DEGREES_CONCENTRATIONS', db_field: 'CONCENTRATION_ID', field_name_override: 'Concentration Name', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	</tr>
</thead>
<tbody>
  {{ kula_display_html({ add: true, db_table: 'STUD_STUDENT_DEGREES_CONCENTRATIONS', db_field: 'STUDENT_CONCENTRATION_ID', prepend_html: '<tr class="data-table-row-new">' }) }}
	{{ kula_field({ add: true, hidden: true, db_table: 'STUD_STUDENT_DEGREES_CONCENTRATIONS', db_field: 'STUDENT_DEGREE_ID', value: student_degree_id }) }}
	{{ kula_field({ add: true, delete: true, db_table: 'STUD_STUDENT_DEGREES_CONCENTRATIONS', db_field: 'STUDENT_CONCENTRATION_ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
	{{ kula_display_html({ add: true, db_table: 'STUD_STUDENT_DEGREES_CONCENTRATIONS', db_field: 'STUDENT_CONCENTRATION_ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
	{{ kula_field({ add: true, db_table: 'STUD_STUDENT_DEGREES_CONCENTRATIONS', db_field: 'CONCENTRATION_ID', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_display_html({ add: true, db_table: 'STUD_STUDENT_DEGREES_CONCENTRATIONS', db_field: 'STUDENT_CONCENTRATION_ID', prepend_html: '</tr>' }) }}
	{% for concentration in concentrations %}
	<tr>
		{{ kula_field({ delete: true, db_table: 'STUD_STUDENT_DEGREES_CONCENTRATIONS', db_field: 'STUDENT_CONCENTRATION_ID', db_row_id: concentration.STUDENT_CONCENTRATION_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_DEGREES_CONCENTRATIONS', db_field: 'CONCENTRATION_ID', db_row_id: concentration.STUDENT_CONCENTRATION_ID, value: concentration.CONCENTRATION_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}