{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<p>
<a class="normal-link"  data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}" href="
{% if kula_core_record.getRecordType() == 'Core.User.Role' %}
{{ path('core_system_schemapermissions_role') }}
{% elseif kula_core_record.getRecordType() == 'Core.Usergroup' %}
{{ path('core_system_schemapermissions_usergroup') }}
{% else %}
{{ path('core_system_schemapermissions_public') }}
{% endif %}
">Back to Tables</a>
</p>

<div class="data-table-header-div">
Field Table Permissions
<span class="data-table-header-buttons"></span>
</div>
<table id="window_window_num_data_table_nonorganizations" class="data-table">
<thead>
  <tr>
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ edit: true, field: 'Core.Permission.Schema.Field.SchemaFieldID', field_name_override: 'Table', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ edit: true, field: 'Core.Permission.Schema.Field.Permission', field_name_override: 'Edit', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</tr>
</thead>
<tbody>
  {% for field_perm in field_permissions %}
  <tr>
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ input: false, field: 'Core.Schema.Field.field_Name', value: field_perm.FIELD_NAME, prepend_html: '<td>', append_html: '</td>' }) }}
    
    {% if field_perm.FIELD_PERMISSION_ID %}
    {{ kula_field({ edit: true, field: 'Core.Permission.Schema.Field.Permission', db_row_id: field_perm.FIELD_PERMISSION_ID, value: field_perm.PERMISSION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {% else %}
    {{ kula_field({ add: true, post_type: 'add_perm', field: 'Core.Permission.Schema.Field.Permission', db_row_id: field_perm.SCHEMA_FIELD_ID, value: field_perm.PERMISSION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {% endif %}
    
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}