{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}

<div class="group-box">
<div class="group-box-header">Course</div>
<div class="group-box-contents group">
    {{ kula_field({ edit: true, field: 'HEd.Course.Type', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: kula_core_record.getSelectedRecord.COURSE_TYPE, label: true }) }}
    {{ kula_field({ edit: true, field: 'HEd.Course.Department', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: kula_core_record.getSelectedRecord.DEPARTMENT, label: true }) }}
  {{ kula_field({ edit: true, field: 'HEd.Course.ConversionCourseNumber', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: kula_core_record.getSelectedRecord.CONV_COURSE_NUMBER, label: true }) }}
  {{ kula_field({ edit: true, field: 'HEd.Course.ApprovalDate', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: course.APPROVAL_DATE, label: true }) }}
  {{ kula_field({ edit: true, field: 'HEd.Course.InactivatedDate', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: course.INACTIVATED_DATE, label: true }) }}
</div>
</div>
<div class="group">
<div class="group-box" style="float:left;width:49%;">
<div class="group-box-header">Grading</div>
<div class="group-box-contents group">
  {{ kula_field({ edit: true, field: 'HEd.Course.Credits', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: kula_core_record.getSelectedRecord.CREDITS, label: true }) }}
  {{ kula_field({ edit: true, field: 'HEd.Course.MaximumCredits', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: course.MAX_CREDITS, label: true }) }}
{{ kula_field({ edit: true, field: 'HEd.Course.VariableCredit', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: course.VARIABLE_CREDIT, label: true }) }}
  {{ kula_field({ edit: true, field: 'HEd.Course.Level', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: kula_core_record.getSelectedRecord.LEVEL, label: true }) }}
  {{ kula_field({ edit: true, field: 'HEd.Course.MarkScaleID', field_name_override: 'Mark Scale', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: kula_core_record.getSelectedRecord.MARK_SCALE_ID, label: true }) }}
  {{ kula_field({ edit: true, field: 'HEd.Course.UpperDivision', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: course.UPPER_DIVISION, label: true }) }}
</div>
</div>

<div class="group-box" style="float:right;width:49%;">
<div class="group-box-header">Seats</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'HEd.Course.Capacity', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: course.CAPACITY, label: true }) }}
{{ kula_field({ edit: true, field: 'HEd.Course.Minimum', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: course.MINIMUM, label: true }) }}
</div>
</div>
</div>

<div class="group-box">
<div class="group-box-header">Description</div>
<div class="group-box-contents group">
  {{ kula_field({ edit: true, field: 'HEd.Course.Description', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: course.COURSE_DESCRIPTION, label: true }) }}
</div>
<div class="group-box-contents group">
  {{ kula_field({ edit: true, field: 'HEd.Course.PrerequisiteDescription', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: course.PREREQUISITE_DESCRIPTION, label: true }) }}
</div>
</div>
{% endblock %}