{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
{{ kula_field({ add: true, hidden: true, field: 'Core.Constituent.Address.ConstituentID', table_row: false, value: kula_core_record.getSelectedRecord.PARENT_ID, label: true }) }}
<div class="group-box">
<div class="group-box-header">Add Address</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, field: 'Core.Constituent.Address.Type', table_row: false, value: address.ADDRESS_TYPE, label: true }) }}
{{ kula_field({ add: true, field: 'Core.Constituent.Address.EffectiveDate', table_row: false, value:"now"|date("m/d/Y"), label: true }) }}
</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, field: 'Core.Constituent.Address.Thoroughfare', table_row: false, value: address.ADDRESS, label: true }) }}
</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, field: 'Core.Constituent.Address.Locality', table_row: false, value: address.CITY, label: true }) }}
{{ kula_field({ add: true, field: 'Core.Constituent.Address.AdministrativeArea', table_row: false, value: address.STATE, lookup: 'C', label: true }) }}
{{ kula_field({ add: true, field: 'Core.Constituent.Address.PostalCode', table_row: false, value: address.ZIPCODE, label: true }) }}
</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, field: 'Core.Constituent.Address.Country', table_row: false, value: 'US', label: true }) }}
</div>
</div>
{% endblock %}