{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}

{% if transactions %}
<div class="group-box">
<div class="group-box-header">Void Transaction</div>
<div class="group-box-contents group">
{{ kula_field({ non: true, field: 'Core.Billing.Transaction.TransactionDate', value:"now"|date("m/d/Y"), label: true }) }}
{{ kula_field({ non: true, field: 'Core.Billing.Transaction.VoidedReason', db_field: 'VOIDED_REASON', label: true }) }}
</div>
</div>
{% endif %}

<div class="data-table-header-div">
Transactions
<span class="data-table-header-buttons">
</span>
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
  <tr>
  {{ kula_field_name({ delete: true, field: 'Core.Billing.Transaction.ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'Core.Organization.Abbreviation', field_name_override: 'Org', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Term.Abbreviation', field_name_override: 'Term', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Billing.Transaction.Posted', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Billing.Transaction.TransactionDate', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Billing.Code.Type', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Billing.Code.Code', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Billing.Transaction.Description', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Section.SectionNumber', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Billing.Transaction.Amount', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Billing.Transaction.AppliedBalance', field_name_override: 'Balance', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">...</th>
</tr>
</thead>
<tbody>
{% if request.get('_route') == 'Core_Billing_ConstituentBilling_Transactions' %}
  {% set trans_charge_route = 'Core_Billing_ConstituentBilling_TransactionDetail' %}
  {% set trans_payment_route = 'Core_Billing_ConstituentBilling_PaymentDetail' %}
{% else %}
  {% set trans_charge_route = 'Core_Billing_StudentBilling_TransactionDetail' %}
  {% set trans_payment_route = 'Core_Billing_StudentBilling_PaymentDetail' %}
{% endif %}
  {% for transaction in transactions %}
  {% if lastterm != transaction.TERM_ABBREVIATION and loop.index > 1 %}
    <tr>
      <td class="data-table-cell-row-num">&nbsp;</td>
      <td class="data-table-cell-row-num">&nbsp;</td>
      <td colspan="9">&nbsp;</td>
    </tr>
  {% endif %}
  <tr>
    {{ kula_field({ delete: true, post_type: 'void', field: 'Core.Billing.Transaction.ID', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ field: 'Core.Organization.Abbreviation', input: false, value: transaction.ORGANIZATION_ABBREVIATION, prepend_html: '<td nowrap="nowrap">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'Core.Term.Abbreviation', input: false, value: transaction.TERM_ABBREVIATION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'Core.Billing.Transaction.Posted', input: false, value: transaction.POSTED, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'Core.Billing.Transaction.TransactionDate', input: false, value: transaction.TRANSACTION_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'Core.Billing.Code.Type', input: false, value: transaction.CODE_TYPE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'Core.Billing.Code.Code', input: false, value: transaction.CODE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'Core.Billing.Transaction.Description', input: false, value: transaction.TRANSACTION_DESCRIPTION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Section.SectionNumber', input: false, value: transaction.SECTION_NUMBER, prepend_html: '<td><a href="'~path('Core_HEd_Scheduling_Section_Fees')~'" data-record-type="Core.HEd.Section" data-record-id="'~transaction.SECTION_ID~'" class="normal-link-new-window">', append_html: '</a></td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'Core.Billing.Transaction.Amount', input: false, value: transaction.AMOUNT, prepend_html: '<td align="right">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'Core.Billing.Transaction.AppliedBalance', input: false, value: transaction.APPLIED_BALANCE, prepend_html: '<td align="right">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {% if transaction.CODE_TYPE == 'P' %}
    <td class="data-table-cell-row-detail"><a class="normal-link" data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}" href="{{ path(trans_payment_route, { payment_id: transaction.PAYMENT_ID }) }}">...</a></td>
    {% else %}
    <td class="data-table-cell-row-detail"><a class="normal-link" data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}" href="{{ path(trans_charge_route, { constituent_transaction_id: transaction.CONSTITUENT_TRANSACTION_ID }) }}">...</a></td>
    {% endif %}
  </tr>
  {% set lastterm = transaction.TERM_ABBREVIATION %}
  {% endfor %}
</tbody>
</table>

{% endblock %}