{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<p>
{% if request.get('_route') == 'Core_Billing_ConstituentBilling_TransactionDetail' %}
  {% set parent_route = 'Core_Billing_ConstituentBilling_Transactions' %}
{% else %}
  {% set parent_route = 'Core_Billing_StudentBilling_Transactions' %}
{% endif %}
<a class="normal-link"  data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}" href="{{ path(parent_route) }}">Back to Transactions</a>
</p>

<div class="group-box">
<div class="group-box-header">Term</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'Core.Billing.Transaction.OrganizationTermID', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, field_name_override: 'Org / Term', value: transaction.ORGANIZATION_TERM_ID, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Transaction</div>
<div class="group-box-contents group">
{{ kula_field({ field: 'Core.Billing.Code.Type', field_name_override: 'Type', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, value: transaction.CODE_TYPE, label: true }) }}
{% if transaction.POSTED != '1' and transaction.VOIDED != '1' %}
{{ kula_field({ edit: true, field: 'Core.Billing.Transaction.CodeID', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, field_name_override: 'Code', value: transaction.CODE_ID, label: true }) }}
{% else %}
{{ kula_field({ field: 'Core.Billing.Transaction.CodeID', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, field_name_override: 'Code', value: transaction.CODE_ID, label: true }) }}
{% endif %}
</div>
<div class="group-box-contents group">
{% if transaction.POSTED != '1' and transaction.VOIDED != '1' %}
{{ kula_field({ edit: true, field: 'Core.Billing.Transaction.TransactionDate', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, value: transaction.TRANSACTION_DATE, label: true }) }}
{% else %}
{{ kula_field({ field: 'Core.Billing.Transaction.TransactionDate', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, value: transaction.TRANSACTION_DATE, label: true }) }}
{% endif %}
{{ kula_field({ edit: true, field: 'Core.Billing.Transaction.Description', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, value: transaction.TRANSACTION_DESCRIPTION, label: true }) }}
</div>
<div class="group-box-contents group">
{{ kula_field({ field: 'Core.Billing.Transaction.Posted', value: transaction.POSTED, label: true }) }}
{{ kula_field({ edit: true, field: 'Core.Billing.Transaction.ShowOnStatement', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, value: transaction.SHOW_ON_STATEMENT, label: true }) }}
{% if transaction.POSTED != '1' and transaction.VOIDED != '1' %}
{{ kula_field({ edit: true, field: 'Core.Billing.Transaction.Amount', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, value: transaction.AMOUNT, label: true }) }}
{% else %}
{{ kula_field({ field: 'Core.Billing.Transaction.Amount', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, value: transaction.AMOUNT, label: true }) }}
{% endif %}
{{ kula_field({ field: 'Core.Billing.Transaction.AppliedBalance', value: transaction.APPLIED_BALANCE, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Class</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'Core.Billing.Transaction.StudentClassID', field_name_override: 'Section', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, value: transaction.STUDENT_CLASS_ID, STUDENT_ID: kula_core_record.getSelectedRecordID(), ORGANIZATION_TERM_ID: transaction.ORGANIZATION_TERM_ID, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Voided</div>
<div class="group-box-contents group">
{{ kula_field({ field: 'Core.Billing.Transaction.Voided', value: transaction.VOIDED, label: true }) }}
{{ kula_field({ field: 'Core.Billing.Transaction.OriginalAmount', value: transaction.ORIGINAL_AMOUNT, label: true }) }}
{{ kula_field({ edit: true, field: 'Core.Billing.Transaction.VoidedReason', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, value: transaction.VOIDED_REASON, label: true }) }}
{{ kula_field({ field: 'Core.Billing.Transaction.VoidedUserstamp', value: transaction.USERNAME, label: true }) }}
{{ kula_field({ field: 'Core.Billing.Transaction.VoidedTimestamp', value: transaction.VOIDED_TIMESTAMP, label: true }) }}
</div>
</div>
{% endblock %}