{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Award Codes
<span class="data-table-header-buttons">
	{{ kula_table_add('window_window_num_data_table_awardcodes', 'FAID_AWARD_CODE') }}
</span>
</div>
<table id="window_window_num_data_table_awardcodes" class="data-table">
<thead>
	<tr>
	{{ kula_field_name({ delete: true, db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_CODE_ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_CATEGORY', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_CODE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_DESCRIPTION', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_AWARD_CODE', db_field: 'SHOW_ON_STATEMENT', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_AWARD_CODE', db_field: 'INACTIVE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_AWARD_CODE', db_field: 'TRANSACTION_CODE_ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_AWARD_CODE', db_field: 'ORIGINATION_FEE_PERCENTAGE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_AWARD_CODE', db_field: 'CONV_AWARD_CODE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	</tr>
</thead>
<tbody>
  {{ kula_display_html({ add: true, db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_CODE_ID', prepend_html: '<tr class="data-table-row-new">' }) }}
	{{ kula_field({ add: true, delete: true, db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_CODE_ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
	{{ kula_display_html({ add: true, db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_CODE_ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
	{{ kula_field({ add: true, db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_CATEGORY', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_CODE', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_DESCRIPTION', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'FAID_AWARD_CODE', db_field: 'SHOW_ON_STATEMENT', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'FAID_AWARD_CODE', db_field: 'INACTIVE', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'FAID_AWARD_CODE', db_field: 'TRANSACTION_CODE_ID', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'FAID_AWARD_CODE', db_field: 'ORIGINATION_FEE_PERCENTAGE', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'FAID_AWARD_CODE', db_field: 'CONV_AWARD_CODE', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_display_html({ add: true, db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_CODE_ID', prepend_html: '</tr>' }) }}
	{% for code in award_codes %}
	<tr>
		{{ kula_field({ delete: true, db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_CODE_ID', db_row_id: code.AWARD_CODE_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ edit: true, db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_CATEGORY', db_row_id: code.AWARD_CODE_ID, value: code.AWARD_CATEGORY, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_CODE', db_row_id: code.AWARD_CODE_ID, value: code.AWARD_CODE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'FAID_AWARD_CODE', db_field: 'AWARD_DESCRIPTION', db_row_id: code.AWARD_CODE_ID, value: code.AWARD_DESCRIPTION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'FAID_AWARD_CODE', db_field: 'SHOW_ON_STATEMENT', db_row_id: code.AWARD_CODE_ID, value: code.SHOW_ON_STATEMENT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'FAID_AWARD_CODE', db_field: 'INACTIVE', db_row_id: code.AWARD_CODE_ID, value: code.INACTIVE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'FAID_AWARD_CODE', db_field: 'TRANSACTION_CODE_ID', db_row_id: code.AWARD_CODE_ID, value: code.TRANSACTION_CODE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'FAID_AWARD_CODE', db_field: 'ORIGINATION_FEE_PERCENTAGE', db_row_id: code.AWARD_CODE_ID, value: code.ORIGINATION_FEE_PERCENTAGE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'FAID_AWARD_CODE', db_field: 'CONV_AWARD_CODE', db_row_id: code.AWARD_CODE_ID, value: code.CONV_AWARD_CODE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}