{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Award Codes
<span class="data-table-header-buttons">
  {{ kula_table_add('window_window_num_data_table_awardcodes', 'FAID_AWARD_CODE') }}
</span>
</div>
<table id="window_window_num_data_table_awardcodes" class="data-table">
<thead>
  <tr>
  {{ kula_field_name({ delete: true, field: 'HEd.FAID.Student.Award.AwardCodeID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'HEd.FAID.Code.Category', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.FAID.Code.Code', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.FAID.Code.Description', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.FAID.Code.ShowOnStatement', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.FAID.Code.Inactive', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.FAID.Code.TransactionCodeID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.FAID.Code.OriginationFeePercentage', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.FAID.Code.ConversionAwardCode', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  </tr>
</thead>
<tbody>
  {{ kula_display_html({ add: true, field: 'HEd.FAID.Student.Award.AwardCodeID', prepend_html: '<tr class="data-table-row-new">' }) }}
  {{ kula_field({ add: true, delete: true, field: 'HEd.FAID.Student.Award.AwardCodeID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
  {{ kula_display_html({ add: true, field: 'HEd.FAID.Student.Award.AwardCodeID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
  {{ kula_field({ add: true, field: 'HEd.FAID.Code.Category', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.FAID.Code.Code', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.FAID.Code.Description', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.FAID.Code.ShowOnStatement', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.FAID.Code.Inactive', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.FAID.Code.TransactionCodeID', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.FAID.Code.OriginationFeePercentage', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.FAID.Code.ConversionAwardCode', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_display_html({ add: true, field: 'HEd.FAID.Student.Award.AwardCodeID', prepend_html: '</tr>' }) }}
  {% for code in award_codes %}
  <tr>
    {{ kula_field({ delete: true, field: 'HEd.FAID.Student.Award.AwardCodeID', db_row_id: code.AWARD_CODE_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ edit: true, field: 'HEd.FAID.Code.Category', db_row_id: code.AWARD_CODE_ID, value: code.AWARD_CATEGORY, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.FAID.Code.Code', db_row_id: code.AWARD_CODE_ID, value: code.AWARD_CODE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.FAID.Code.Description', db_row_id: code.AWARD_CODE_ID, value: code.AWARD_DESCRIPTION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.FAID.Code.ShowOnStatement', db_row_id: code.AWARD_CODE_ID, value: code.SHOW_ON_STATEMENT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.FAID.Code.Inactive', db_row_id: code.AWARD_CODE_ID, value: code.INACTIVE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.FAID.Code.TransactionCodeID', db_row_id: code.AWARD_CODE_ID, value: code.TRANSACTION_CODE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.FAID.Code.ConversionAwardCode', db_row_id: code.AWARD_CODE_ID, value: code.ORIGINATION_FEE_PERCENTAGE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.FAID.Student.Award.AwardCodeID', db_row_id: code.AWARD_CODE_ID, value: code.CONV_AWARD_CODE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}