{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}


{% block content %}
<div class="group-box">
<div class="group-box-header">Enrollment Status Change</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Enrollment.Activity.EffectiveDate', value: effective_date, label: true}) }}
</div>
<div class="group-box-contents group">
  {{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Enrollment.Activity.Grade', label: true }) }}
  {{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Enrollment.Activity.Level', label: true }) }}
  {{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Enrollment.Activity.Resident', label: true }) }}
  {{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Enrollment.Activity.FTE', label: true }) }}
  {{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Enrollment.Activity.ThesisStatus', label: true }) }}
</div>
</div>

<div class="group-box">
<div class="group-box-header">Degrees Seeking</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Enrollment.Activity.SeekingDegree1ID', STUDENT_ID: kula_core_record.getSelectedRecord()['STUDENT_ID'], label: true, field_name_override: 'Seeking Degree 1' }) }}
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Enrollment.Activity.SeekingDegree2ID', STUDENT_ID: kula_core_record.getSelectedRecord()['STUDENT_ID'], label: true, field_name_override: 'Seeking Degree 2' }) }}
</div>
</div>
{% endblock %}