{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<p>
<a class="normal-link"  data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}" href="{{ path('core_HEd_student_enrollment_statuses') }}">Back to Statuses</a>
</p>

<div class="group-box">
<div class="group-box-header">Status</div>
<div class="group-box-contents group">
{{ kula_field({ field: 'Core.Term.Abbreviation', field_name_override: 'Term', value: status.TERM_ABBREVIATION, label: true }) }}
{{ kula_field({ field: 'Core.Organization.Name', value: status.ORGANIZATION_NAME, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Status.Grade', db_row_id: status.STUDENT_STATUS_ID, value: status.GRADE, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Status.Level', value: status.LEVEL, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Status.Resident', value: status.RESIDENT, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Status.FTE', value: status.FTE, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Status.ThesisStatus', value: status.THESIS_STATUS, label: true }) }}
{{ kula_field({ edit: true, field: 'HEd.Student.Status.EnterTermID', db_row_id: status.STUDENT_STATUS_ID, value: status.ENTER_TERM_ID, label: true, field_name_override: 'Enter Term' }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Degrees Seeking</div>
<div class="group-box-contents group">
{{ kula_field({ field: 'HEd.Student.Status.SeekingDegree1ID', value: status.SEEKING_DEGREE_1_ID, STUDENT_ID: kula_core_record.getSelectedRecordID(), label: true, field_name_override: 'Seeking Degree 1' }) }}
{{ kula_field({ field: 'HEd.Student.Status.SeekingDegree2ID', value: status.SEEKING_DEGREE_2_ID, STUDENT_ID: kula_core_record.getSelectedRecordID(), label: true, field_name_override: 'Seeking Degree 2' }) }}
</div>
</div>
<div class="data-table-header-div">
Enrollments
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'HEd.Student.Enrollment.EnterDate', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.Enrollment.EnterCode', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.Enrollment.LeaveDate', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.Enrollment.LeaveCode', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">...</th>
</thead>
<tbody>
  {% for enrollment in enrollments %}
  <tr>
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ edit: true, field: 'HEd.Student.Enrollment.EnterDate', db_row_id: enrollment.ENROLLMENT_ID, value: enrollment.ENTER_DATE, input: false, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Student.Enrollment.EnterCode', db_row_id: enrollment.ENROLLMENT_ID, value: enrollment.ENTER_CODE, input: false, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Student.Enrollment.LeaveDate', db_row_id: enrollment.ENROLLMENT_ID, value: enrollment.LEAVE_DATE, input: false, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Student.Enrollment.LeaveCode', db_row_id: enrollment.ENROLLMENT_ID, value: enrollment.LEAVE_CODE, input: false, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    <td class="data-table-cell-row-detail"><a class="normal-link" data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}" href="{{ path('core_HEd_student_enrollment_activitydetail', { student_enrollment_id: enrollment.ENROLLMENT_ID }) }}">...</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}