{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Holds
<span class="data-table-header-buttons">
</span>
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
  <tr>
    {{ kula_field_name({ edit: true, field: 'HEd.Student.Hold.Voided', field_name_override: 'V', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
    {{ kula_field_name({ field: 'Core.Constituent.LastName', field_name_override: 'Name', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.Hold.Date', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.Hold.Comments', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.Hold.VoidedReason', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  </tr>
</thead>
<tbody>
  {% for hold in holds %}
  <tr>
      {{ kula_field({ delete: true, post_type: 'post', field: 'HEd.Student.Hold.ID', db_row_id: hold.STUDENT_HOLD_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ field: 'Core.Constituent.LastName', input: false, value: hold.PERMANENT_NUMBER~' '~hold.LAST_NAME~', '~hold.FIRST_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'HEd.Student.Hold.Date', db_row_id: hold.STUDENT_HOLD_ID, value: hold.HOLD_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'HEd.Student.Hold.Comments', db_row_id: hold.STUDENT_HOLD_ID, value: hold.COMMENTS, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Student.Hold.VoidedReason', db_row_id: hold.STUDENT_HOLD_ID, value: hold.VOIDED_REASON, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}