{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Holds
<span class="data-table-header-buttons">
</span>
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
	<tr>
		{{ kula_field_name({ edit: true, db_table: 'STUD_STUDENT_HOLDS', db_field: 'VOIDED', field_name_override: 'V', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">#</th>
		{{ kula_field_name({ db_table: 'CONS_CONSTITUENT', db_field: 'LAST_NAME', field_name_override: 'Name', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_HOLDS', db_field: 'HOLD_DATE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_HOLDS', db_field: 'COMMENTS', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_HOLDS', db_field: 'VOIDED_REASON', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	</tr>
</thead>
<tbody>
	{% for hold in holds %}
	<tr>
			{{ kula_field({ delete: true, post_type: 'post', db_table: 'STUD_STUDENT_HOLDS', db_field: 'STUDENT_HOLD_ID', db_row_id: hold.STUDENT_HOLD_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ db_table: 'CONS_CONSTITUENT', db_field: 'LAST_NAME', input: false, value: hold.PERMANENT_NUMBER~' '~hold.LAST_NAME~', '~hold.FIRST_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ input: false, db_table: 'STUD_STUDENT_HOLDS', db_row_id: hold.STUDENT_HOLD_ID, db_field: 'HOLD_DATE', value: hold.HOLD_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ input: false, db_table: 'STUD_STUDENT_HOLDS', db_row_id: hold.STUDENT_HOLD_ID, db_field: 'COMMENTS', value: hold.COMMENTS, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_HOLDS', db_row_id: hold.STUDENT_HOLD_ID, db_field: 'VOIDED_REASON', value: hold.VOIDED_REASON, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}