{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Posted Awards
<span class="data-table-header-buttons">
</span>
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
  <tr>
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'Core.Term.Abbreviation', field_name_override: 'Term', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Organization.Abbreviation', field_name_override: 'Organization', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Constituent.LastName', field_name_override: 'Name', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Billing.Transaction.TransactionDate', field_name_override: 'Date', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Billing.Code.Type', field_name_override: 'Type', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Billing.Code.Code', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Billing.Transaction.Description', field_name_override: 'Description', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Billing.Transaction.Amount', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  </tr>
</thead>
<tbody>
  {% for transaction in transactions %}
  <tr>
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ field: 'Core.Term.Abbreviation', input: false, value: transaction.TERM_ABBREVIATION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'Core.Organization.Abbreviation', input: false, value: transaction.ORGANIZATION_ABBREVIATION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'Core.Constituent.LastName', input: false, value: transaction.PERMANENT_NUMBER~' '~transaction.LAST_NAME~', '~transaction.FIRST_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'HEd.Billing.Transaction.TransactionDate', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, value: transaction.TRANSACTION_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Billing.Code.Type', input: false, value: transaction.CODE_TYPE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Billing.Code.Code', input: false, value: transaction.CODE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'HEd.Billing.Transaction.Description', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, value: transaction.TRANSACTION_DESCRIPTION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Billing.Transaction.Amount', input: false, value: transaction.AMOUNT, prepend_html: '<td align="right">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}