{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block detail %}
<div class="group-box">
<div class="group-box-header">Organization</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.OrganizationID', db_row_id: course_history.COURSE_HISTORY_ID, field_name_override: 'Organization', value: course_history.ORGANIZATION_ID, label: true }) }}
{{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.NonOrganizationID', db_row_id: course_history.COURSE_HISTORY_ID, field_name_override: 'Non-Organization', value: course_history.NON_ORGANIZATION_ID, label: true }) }}
</div>
<div class="group-box-contents group">
  {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.TransferCredits', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.TRANSFER_CREDITS, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Dates</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.StartDate', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.START_DATE, label: true }) }}
{{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.CompletedDate', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.COMPLETED_DATE, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Instructor</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.StaffID', db_row_id: course_history.COURSE_HISTORY_ID, field_name_override: 'Org Instructor', value: course_history.STAFF_ID, label: true }) }}
{{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.Staff', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.STAFF_NAME, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Grading</div>
<div class="group-box-contents group">
  {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.MarkScaleID', db_row_id: course_history.COURSE_HISTORY_ID, field_name_override: 'Mark Scale', value: course_history.MARK_SCALE_ID, label: true }) }}
  {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.RepeatTagID', db_row_id: course_history.COURSE_HISTORY_ID, field_name_override: 'Repeat Tag', value: course_history.REPEAT_TAG_ID, label: true }) }}
</div>
<div class="group-box-contents group">
  {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.Comments', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.COMMENTS, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">GPA</div>
<div class="group-box-contents group">
{{ kula_field({ field: 'HEd.Student.CourseHistory.GPAValue', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.GPA_VALUE, label: true }) }}
{{ kula_field({ field: 'HEd.Student.CourseHistory.QualityPoints', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.QUALITY_POINTS, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Degree Requirement Group</div>
<div class="group-box-contents group">
  {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.DegreeRequirementGroupID', db_row_id: course_history.COURSE_HISTORY_ID, field_name_override: 'Req Group', value: course_history.DEGREE_REQ_GRP_ID, STUDENT_ID: kula_core_record.getSelectedRecord().STUDENT_ID, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Schedule</div>
<div class="group-box-contents group">
  {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.StudentClassID', db_row_id: course_history.COURSE_HISTORY_ID, field_name_override: 'Schedule', value: course_history.STUDENT_CLASS_ID, STUDENT_ID: kula_core_record.getSelectedRecord().STUDENT_ID, label: true }) }}
</div>
</div>
{% endblock %}