{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}

{% include 'KulaHEdSchedulingBundle:CoreSchedule:current_schedule.html.twig' %}

<div class="group-box">
<div class="group-box-header">Search Sections</div>
<div class="group-box-contents group">
{{ kula_field({ search: true, field: 'HEd.Section.SectionNumber', label: true }) }}
{{ kula_field({ search: true, field: 'HEd.Section.CourseID', field_name_override: 'Course', label: true }) }}
{{ kula_field({ search: true, field: 'HEd.Section.StaffOrganizationTermID', field_name_override: 'Instructor', label: true }) }}
</div>
</div>

{% if search_classes %}
<div class="group-box">
<div class="group-box-header">Add Classes</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Class.StartDate', value: start_date, label: true }) }}
</div>
</div>

<div class="data-table-header-div">
Section Results
<span class="data-table-header-buttons">
</span>
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
  <th class="data-table-cell-row-header">+</th>
  <th class="data-table-cell-row-header">W</th>
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'HEd.Section.SectionNumber', field_name_override: 'Section', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Course.CourseNumber', field_name_override: 'Course', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Course.Title', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Section.Meets', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Section.Meeting.StartTime', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Section.Meeting.EndTime', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Room.Name', field_name_override: 'Room', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Staff.AbbreviatedName', field_name_override: 'Instructor', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Section.Credits', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Section.Capacity', field_name_override: 'MAX', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Section.EnrolledTotal', field_name_override: 'ENR', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Section.Available', field_name_override: 'AVL', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Section.WaitListedTotal', field_name_override: 'WAIT', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</thead>
<tbody>
  {% set lastsectionid = '' %}
  {% set index = 1 %}
  {% for class in search_classes %}
  <tr>
    {% if class.SECTION_ID == lastsectionid %}
    {{ kula_display_html({ add: true, field: 'HEd.Student.Class.ID', prepend_html: '<td class="data-table-cell-row-delete">&nbsp;', append_html: '</td>' }) }}
    {{ kula_display_html({ add: true, field: 'HEd.Student.WaitList.ID', prepend_html: '<td class="data-table-cell-row-delete">&nbsp;', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">&nbsp;</td>
    <td colspan="3">&nbsp;</td>
    {{ kula_field({ field: 'HEd.Section.Meets', input: false, value: class.SECTION_MEETING_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Section.Meeting.StartTime', input: false, value: class.START_TIME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Section.Meeting.EndTime', input: false, value: class.END_TIME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Room.Number', input: false, value: class.ROOM_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    <td colspan="8">&nbsp;</td>
    {% else %}
    {% set availableseats = class.CAPACITY - class.ENROLLED_TOTAL %}
    {{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Class.SectionID', value: class.SECTION_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    {{ kula_field({ add: true, post_type: 'wait_list', table_row: false, field: 'HEd.Student.WaitList.SectionID', value: class.SECTION_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ index }}</td>
    {% if availableseats <= 0 %}
    {{ kula_field({ field: 'HEd.Section.SectionNumber', input: false, value: class.SECTION_NUMBER, prepend_html: '<td style="color:red;">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {% else %}
    {{ kula_field({ field: 'HEd.Section.SectionNumber', input: false, value: class.SECTION_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {% endif %}
    {% if availableseats <= 0 %}
    {{ kula_field({ field: 'HEd.Course.CourseNumber', input: false, value: class.COURSE_NUMBER, prepend_html: '<td style="color:red;">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {% else %}
    {{ kula_field({ field: 'HEd.Course.CourseNumber', input: false, value: class.COURSE_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {% endif %}
    {% if availableseats <= 0 %}
    {{ kula_field({ field: 'HEd.Course.Title', input: false, value: class.COURSE_TITLE, prepend_html: '<td style="color:red;">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {% else %}
    {{ kula_field({ field: 'HEd.Course.Title', input: false, value: class.COURSE_TITLE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {% endif %}
    {{ kula_field({ field: 'HEd.Section.Meets', input: false, value: class.SECTION_MEETING_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Section.Meeting.StartTime', input: false, value: class.START_TIME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Section.Meeting.EndTime', input: false, value: class.END_TIME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Room.Number', input: false, value: class.ROOM_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Staff.AbbreviatedName', input: false, value: class.ABBREVIATED_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Section.Credits', input: false, value: class.CREDITS, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Section.Capacity', input: false, value: class.CAPACITY, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Section.EnrolledTotal', input: false, value: class.ENROLLED_TOTAL, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Section.Available', input: false, value: availableseats, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Section.WaitListedTotal', input: false, value: class.WAIT_LISTED_TOTAL, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
  </tr>
  {% set index = index + 1 %}
  {% endif %}
  {% set lastsectionid = class.SECTION_ID %}
  {% endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}