{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block detail %}
<div class="group-box">
<div class="group-box-header">Add Discount</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, post_type: 'discount', field: 'HEd.Student.Class.Discount', SECTION_ID: class.SECTION_ID, db_row_id: class.STUDENT_CLASS_ID, value: null, label: true }) }}
{{ kula_field({ add: true, post_type: 'discount', field: 'HEd.Student.Class.DiscountProof', db_row_id: class.STUDENT_CLASS_ID, value: null, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Registration</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'HEd.Student.Class.Priority', db_row_id: class.STUDENT_CLASS_ID, value: class.PRIORITY, label: true }) }}
{{ kula_field({ edit: true, field: 'HEd.Student.Class.RegistrationType', db_row_id: class.STUDENT_CLASS_ID, value: class.REGISTRATION_TYPE, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Change Reason</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'HEd.Student.Class.ChangeReason', db_row_id: class.STUDENT_CLASS_ID, value: class.CHANGE_REASON, label: true }) }}
</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'HEd.Student.Class.ChangeNotes', db_row_id: class.STUDENT_CLASS_ID, value: class.CHANGE_NOTES, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Additional Course</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'HEd.Student.Class.CourseID', db_row_id: class.STUDENT_CLASS_ID, SECTION_ID: class.SECTION_ID, value: class.COURSE_ID, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Grading</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'HEd.Student.Class.RepeatTagID', db_row_id: class.STUDENT_CLASS_ID, value: class.REPEAT_TAG_ID, label: true }) }}
{{ kula_field({ edit: true, field: 'HEd.Student.Class.CourseForGradeID', db_row_id: class.STUDENT_CLASS_ID, value: class.COURSE_FOR_GRADE_ID, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Degree Requirement Group</div>
<div class="group-box-contents group">
	{{ kula_field({ edit: true, field: 'HEd.Student.Class.DegreeRequirementGroupID', db_row_id: class.STUDENT_CLASS_ID, field_name_override: 'Req Group', value: class.DEGREE_REQ_GRP_ID, STUDENT_ID: kula_core_record.getSelectedRecord().STUDENT_ID, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Marketing</div>
<div class="group-box-contents group">
  {{ kula_field({ edit: true, field: 'HEd.Student.Class.MarketingReferrer', db_row_id: class.STUDENT_CLASS_ID, value: class.MKTG_REFERRER, label: true }) }}
  {{ kula_field({ edit: true, field: 'HEd.Student.Class.MarketingReferrerOther', db_row_id: class.STUDENT_CLASS_ID, value: class.MKTG_REFERRER_OTHER, label: true }) }}
</div>
</div>
{% endblock %}