{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}

{% if transactions %}
<div class="group-box">
<div class="group-box-header">Void Transaction</div>
<div class="group-box-contents group">
{{ kula_field({ non: true, db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'TRANSACTION_DATE', value:"now"|date("m/d/Y"), label: true }) }}
{{ kula_field({ non: true, db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'VOIDED_REASON', label: true }) }}
</div>
</div>
{% endif %}

<div class="data-table-header-div">
Pending Transactions
<span class="data-table-header-buttons">
</span>
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
	<tr>
	{{ kula_field_name({ edit: true, db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'POSTED', field_name_override: 'P', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ delete: true, db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'CONSTITUENT_TRANSACTION_ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'CORE_TERM', db_field: 'TERM_ABBREVIATION', field_name_override: 'Term', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'CORE_ORGANIZATION', db_field: 'ORGANIZATION_ABBREVIATION', field_name_override: 'Organization', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'CONS_CONSTITUENT', db_field: 'LAST_NAME', field_name_override: 'Name', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'TRANSACTION_DATE', field_name_override: 'Date', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'BILL_CODE', db_field: 'CODE_TYPE', field_name_override: 'Type', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'BILL_CODE', db_field: 'CODE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'TRANSACTION_DESCRIPTION', field_name_override: 'Description', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'AMOUNT', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'APPLIED_BALANCE', field_name_override: 'Balance', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'CORE_USER', db_field: 'USERNAME', field_name_override: 'User', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">...</th>
</tr>
</thead>
<tbody>
	{% for transaction in transactions %}
	<tr>
		{{ kula_field({ delete: true, post_type: 'post', db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'CONSTITUENT_TRANSACTION_ID', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		{{ kula_field({ delete: true, post_type: 'void', db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'CONSTITUENT_TRANSACTION_ID', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ db_table: 'CORE_TERM', db_field: 'TERM_ABBREVIATION', input: false, value: transaction.TERM_ABBREVIATION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'CORE_ORGANIZATION', db_field: 'ORGANIZATION_ABBREVIATION', input: false, value: transaction.ORGANIZATION_ABBREVIATION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'CONS_CONSTITUENT', db_field: 'LAST_NAME', input: false, value: transaction.PERMANENT_NUMBER~' '~transaction.LAST_NAME~', '~transaction.FIRST_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, db_field: 'TRANSACTION_DATE', value: transaction.TRANSACTION_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'BILL_CODE', db_field: 'CODE_TYPE', input: false, value: transaction.CODE_TYPE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'BILL_CODE', db_field: 'CODE', input: false, value: transaction.CODE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_row_id: transaction.CONSTITUENT_TRANSACTION_ID, db_field: 'TRANSACTION_DESCRIPTION', value: transaction.TRANSACTION_DESCRIPTION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'AMOUNT', input: false, value: transaction.AMOUNT, prepend_html: '<td align="right">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'APPLIED_BALANCE', input: false, value: transaction.APPLIED_BALANCE, prepend_html: '<td align="right">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'CORE_USER', db_field: 'USERNAME', input: false, value: transaction.USERNAME, prepend_html: '<td align="right">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		<td class="data-table-cell-row-detail"><a class="normal-link" data-record-id="{{ record_obj.getSelectedRecordID() }}" data-record-type="{{ record_obj.getRecordType() }}" href="{{ path('sis_student_billing_transactiondetail', { constituent_transaction_id: transaction.CONSTITUENT_TRANSACTION_ID }) }}">...</a></td>
	</tr>
	{% endfor %}
</tbody>
</table>

{% endblock %}