{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}


{% block content %}
<div class="data-table-header-div">
Parents
</div>
<table id="window_window_num_data_table_emergency" class="data-table">
<thead>
  {{ kula_field_name({ delete: true, field: 'K12.Student.Parent.ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'Core.Constituent.LastName', field_name_override: 'Name', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Constituent.Relationship.Relationship', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Student.Parent.LegalCustody', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Student.Parent.PhysicalCustody', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Student.Parent.Resides', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Student.Parent.RestrainingOrder', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Student.Parent.ContactNotAllowed', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Student.Parent.ReceivesCommunication', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</thead>
<tbody>
  {% for parent in parents %}
  <tr>
    {{ kula_field({ delete: true, field: 'K12.Student.Parent.ID', db_row_id: parent.STUDENT_PARENT_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    <td><a href="{{ path('sis_K12_parent_basic') }}" data-record-type="SIS.K12.Parent" data-record-id="{{ parent.PARENT_ID }}" class="normal-link-new-window">{{ kula_field({ input: false, field: 'Core.Constituent.LastName', db_row_id: parent.STUDENT_PARENT_ID, value: parent.LAST_NAME~', '~parent.FIRST_NAME }) }}</a></td>
    {{ kula_field({ edit: true, field: 'Core.Constituent.Relationship.Relationship', db_row_id: parent.STUDENT_PARENT_ID, value: parent.RELATIONSHIP, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Student.Parent.LegalCustody', db_row_id: parent.STUDENT_PARENT_ID, value: parent.LEGAL_CUSTODY, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Student.Parent.PhysicalCustody', db_row_id: parent.STUDENT_PARENT_ID, value: parent.PHYSICAL_CUSTODY, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Student.Parent.Resides', db_row_id: parent.STUDENT_PARENT_ID, value: parent.RESIDES, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Student.Parent.RestrainingOrder', db_row_id: parent.STUDENT_PARENT_ID, value: parent.RESTRAINING_ORDER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Student.Parent.ContactNotAllowed', db_row_id: parent.STUDENT_PARENT_ID, value: parent.CONTACT_NOT_ALLLOWED, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Student.Parent.ReceivesCommunication', db_row_id: parent.STUDENT_PARENT_ID, value: parent.RECEIVES_COMMUNICATION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}