{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Saved Queries
<span class="data-table-header-buttons">
  {{ kula_table_add('window_window_num_data_table_fields', 'CORE_QUERY_SQL_SAVED') }}
</span>
</div>
<table id="window_window_num_data_table_fields" class="data-table">
<thead>
  <tr>
  {{ kula_field_name({ delete: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_SAVED_ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ edit: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_CATEGORY', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ edit: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_NAME', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">P</th>
  <th class="data-table-cell-row-header">D</th>
  <th class="data-table-cell-row-header">...</th>
  </tr>
</thead>
<tbody>
  {{ kula_display_html({ add: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_SAVED_ID', prepend_html: '<tr class="data-table-row-new">' }) }}
    {{ kula_field({ add: true, delete: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_SAVED_ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    {{ kula_display_html({ add: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_SAVED_ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
    {{ kula_field({ add: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_CATEGORY',  prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ add: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_NAME',  prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_display_html({ add: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_SAVED_ID', prepend_html: '<td class="data-table-cell-row-num">Preview</td>' }) }}
    {{ kula_display_html({ add: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_SAVED_ID', prepend_html: '<td class="data-table-cell-row-num">Download</td>' }) }}
    {{ kula_display_html({ add: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_SAVED_ID', prepend_html: '<td class="data-table-cell-row-num">...</td>' }) }}
  {{ kula_display_html({ add: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_SAVED_ID', prepend_html: '</tr>' }) }}
  {% for query in saved %}
  <tr id="window_window_num_data_table_fields_{{ query.SQL_QUERY_SAVED_ID }}">
    {{ kula_field({ delete: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_SAVED_ID', db_row_id: query.SQL_QUERY_SAVED_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num"><a class="data-table-detail-link" data-row-id-prefix="field" data-row-id="{{ query.SQL_QUERY_SAVED_ID }}" href="{# { path('', { id : query.SQL_QUERY_SAVED_ID }) } #}">{{ loop.index }}</a></td>
    {{ kula_field({ edit: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_CATEGORY', db_row_id: query.SQL_QUERY_SAVED_ID, value: query.SQL_QUERY_CATEGORY, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, db_table: 'CORE_QUERY_SQL_SAVED', db_field: 'SQL_QUERY_NAME', db_row_id: query.SQL_QUERY_SAVED_ID, value: query.SQL_QUERY_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    <td><a class="normal-link"  data-record-id="{{ record_obj.getSelectedRecordID() }}" data-record-type="{{ record_obj.getRecordType() }}" href="{{ path('sis_home_export_query', { id: query.SQL_QUERY_SAVED_ID }) }}">Preview</a></td>
    <td><a class="normal-link"  data-record-id="{{ record_obj.getSelectedRecordID() }}" data-record-type="{{ record_obj.getRecordType() }}" href="{{ path('sis_home_reports_export_download', { id: query.SQL_QUERY_SAVED_ID }) }}">Download</a></td>
    <td class="data-table-cell-row-detail"><a class="data-table-detail-link" data-row-id-prefix="field" data-row-id="{{ query.SQL_QUERY_SAVED_ID }}" href="{{ path('sis_home_export_saved_detail', { id: query.SQL_QUERY_SAVED_ID }) }}">...</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}

