{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Minors
<span class="data-table-header-buttons">
  {{ kula_table_add('window_window_num_data_table_majors', 'STUD_DEGREE_MINOR') }}
</span>
</div>
<table id="window_window_num_data_table_majors" class="data-table">
<thead>
  <tr>
  {{ kula_field_name({ delete: true, field: 'HEd.Degree.Minor.ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'HEd.Degree.Minor.Name', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Degree.Minor.EffectiveTermID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Degree.Minor.MinimumCredits', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Degree.Minor.MinimumGPA', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Degree.Minor.PFCode', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">Requirements</th>
  </tr>
</thead>
<tbody>
  {{ kula_display_html({ add: true, field: 'HEd.Degree.Minor.ID', prepend_html: '<tr class="data-table-row-new">' }) }}
  {{ kula_field({ add: true, delete: true, field: 'HEd.Degree.Minor.ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
  {{ kula_display_html({ add: true, field: 'HEd.Degree.Minor.ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
  {{ kula_field({ add: true, field: 'HEd.Degree.Minor.Name', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Degree.Minor.EffectiveTermID', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Degree.Minor.MinimumCredits', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Degree.Minor.MinimumGPA', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Degree.Minor.PFCode', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_display_html({ add: true, db_table: 'STUD_DEGREE_REQ_GRP', db_field: 'DEGREE_REQ_GRP_ID', prepend_html: '<td class="data-table-cell-row-num">Requirements</td>' }) }}
  {{ kula_display_html({ add: true, field: 'HEd.Degree.Minor.ID', prepend_html: '</tr>' }) }}
  {% for minor in minors %}
  <tr>
    {{ kula_field({ delete: true, field: 'HEd.Degree.Minor.ID', db_row_id: minor.MINOR_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ edit: true, field: 'HEd.Degree.Minor.Name', db_row_id: minor.MINOR_ID, value: minor.MINOR_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Degree.Minor.EffectiveTermID', db_row_id: minor.MINOR_ID, value: minor.EFFECTIVE_TERM_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Degree.Minor.MinimumCredits', db_row_id: minor.MINOR_ID, value: minor.MINIMUM_CREDITS, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Degree.Minor.MinimumGPA', db_row_id: minor.MINOR_ID, value: minor.MINIMUM_GPA, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Degree.Minor.PFCode', db_row_id: minor.MINOR_ID, value: minor.PF_CODE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    <td><a class="normal-link"  data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}" href="{{ path('Core_HEd_Degrees_Requirements_Groups', { type: 'minor', id: minor.MINOR_ID }) }}">Requirements</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}