{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Email Addresses
<span class="data-table-header-buttons">
  {{ kula_table_add('window_window_num_data_table_email', 'CONS_EMAIL_ADDRESS') }}
</span>
</div>
<table id="window_window_num_data_table_email" class="data-table">
<thead>
  {{ kula_field_name({ delete: true, field: 'Core.Constituent.EmailAddress.ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'Core.Constituent.PrimaryEmailID', field_name_override: 'Primary', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Constituent.EmailAddress.EffectiveDate', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Constituent.EmailAddress.Type', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Constituent.EmailAddress.EmailAddress', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</thead>
<tbody>
  {{ kula_display_html({ add: true, field: 'Core.Constituent.EmailAddress.ID', prepend_html: '<tr class="data-table-row-new">' }) }}
  {{ kula_field({ add: true, field: 'Core.Constituent.EmailAddress.ConstituentID', value: kula_core_record.getSelectedRecord.CONSTITUENT_ID, hidden: true }) }}
  {{ kula_field({ add: true, delete: true, field: 'Core.Constituent.EmailAddress.ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
  {{ kula_display_html({ add: true, field: 'Core.Constituent.EmailAddress.ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
  {{ kula_display_html({ add: true, field: 'Core.Constituent.EmailAddress.ID', prepend_html: '<td class="data-table-cell">&nbsp;</td>' }) }}
  {{ kula_field({ add: true, field: 'Core.Constituent.EmailAddress.EffectiveDate', value:"now"|date("m/d/Y") , prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'Core.Constituent.EmailAddress.Type', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'Core.Constituent.EmailAddress.EmailAddress', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_display_html({ add: true, field: 'Core.Constituent.EmailAddress.ID', prepend_html: '</tr>' }) }}
  {% for email in emails %}
  <tr>
    {{ kula_field({ delete: true, field: 'Core.Constituent.EmailAddress.ID', db_row_id: email.EMAIL_ADDRESS_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ edit: true, field: 'Core.Constituent.PrimaryEmailID', db_row_id: kula_core_record.getSelectedRecord.CONSTITUENT_ID, value: email.EMAIL_ADDRESS_ID, value_to_compare: primary_emails.PRIMARY_EMAIL_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'Core.Constituent.EmailAddress.EffectiveDate', db_row_id: email.EMAIL_ADDRESS_ID, value: email.EFFECTIVE_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'Core.Constituent.EmailAddress.Type', db_row_id: email.EMAIL_ADDRESS_ID, value: email.EMAIL_ADDRESS_TYPE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'Core.Constituent.EmailAddress.EmailAddress', db_row_id: email.EMAIL_ADDRESS_ID, value: email.EMAIL_ADDRESS, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}