{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}

{% block content %}
<p>
<a class="normal-link" href="{{ path('sis_setup_grading_markscales') }}">Back to Mark Scales</a>
</p>

<div class="data-table-header-div">
{{ mark_scale.MARK_SCALE_NAME }} Mark Scale Detail
<span class="data-table-header-buttons">
  {{ kula_table_add('window_window_num_data_table_mark_scales', 'STUD_MARK_SCALE_MARKS_MARKS') }}
</span>
</div>
<table id="window_window_num_data_table_mark_scales" class="data-table">
<thead>
  <tr>
  {{ kula_field_name({ delete: true, field: 'HEd.MarkScale.Mark.ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'HEd.MarkScale.Mark.Sort', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.MarkScale.Mark.Mark', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.MarkScale.Mark.GetsCredit, prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.MarkScale.Mark.GPAValue, prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.MarkScale.Mark.InactiveAfter, prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.MarkScale.Mark.AllowTeacher, prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.MarkScale.Mark.AllowComments, prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.MarkScale.Mark.RequireComments, prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  </tr>
</thead>
<tbody>
  {{ kula_display_html({ add: true, field: 'HEd.MarkScale.Mark.ID', prepend_html: '<tr class="data-table-row-new">' }) }}
  {{ kula_field({ add: true, hidden: true, field: 'HEd.MarkScale.Mark.MarkScaleID', value: mark_scale.MARK_SCALE_ID }) }}
  {{ kula_field({ add: true, delete: true, field: 'HEd.MarkScale.Mark.ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
  {{ kula_display_html({ add: true, field: 'HEd.MarkScale.Mark.ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
  {{ kula_field({ add: true, field: 'HEd.MarkScale.Mark.Sort', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.MarkScale.Mark.Mark', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.MarkScale.Mark.GetsCredit, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.MarkScale.Mark.GPAValue, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.MarkScale.Mark.InactiveAfter, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.MarkScale.Mark.AllowTeacher, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.MarkScale.Mark.AllowComments, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.MarkScale.Mark.RequireComments, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_display_html({ add: true, field: 'HEd.MarkScale.Mark.ID', prepend_html: '</tr>' }) }}
  {% for mark in marks %}
  <tr>
    {{ kula_field({ delete: true, field: 'HEd.MarkScale.Mark.ID', db_row_id: mark.MARK_SCALE_MARK_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ edit: true, field: 'HEd.MarkScale.Mark.Sort', db_row_id: mark.MARK_SCALE_MARK_ID, value: mark.SORT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.MarkScale.Mark.Mark', db_row_id: mark.MARK_SCALE_MARK_ID, value: mark.MARK, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.MarkScale.Mark.GetsCredit, db_row_id: mark.MARK_SCALE_MARK_ID, value: mark.GETS_CREDIT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.MarkScale.Mark.GPAValue, db_row_id: mark.MARK_SCALE_MARK_ID, value: mark.GPA_VALUE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.MarkScale.Mark.InactiveAfter, db_row_id: mark.MARK_SCALE_MARK_ID, value: mark.INACTIVE_AFTER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.MarkScale.Mark.AllowTeacher, db_row_id: mark.MARK_SCALE_MARK_ID, value: mark.ALLOW_TEACHER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.MarkScale.Mark.AllowComments, db_row_id: mark.MARK_SCALE_MARK_ID, value: mark.ALLOW_COMMENTS, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.MarkScale.Mark.RequireComments, db_row_id: mark.MARK_SCALE_MARK_ID, value: mark.REQUIRE_COMMENTS, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}