{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Mark Scales
<span class="data-table-header-buttons">
	{{ kula_table_add('window_window_num_data_table_mark_scales', 'STUD_MARK_SCALE') }}
</span>
</div>
<table id="window_window_num_data_table_mark_scales" class="data-table">
<thead>
	<tr>
	{{ kula_field_name({ delete: true, db_table: 'STUD_MARK_SCALE', db_field: 'MARK_SCALE_ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'STUD_MARK_SCALE', db_field: 'MARK_SCALE_NAME', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_MARK_SCALE', db_field: 'AUDIT', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_MARK_SCALE', db_field: 'INACTIVE_AFTER', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">...</th>
	</tr>
</thead>
<tbody>
  {{ kula_display_html({ add: true, db_table: 'STUD_MARK_SCALE', db_field: 'MARK_SCALE_ID', prepend_html: '<tr class="data-table-row-new">' }) }}
	{{ kula_field({ add: true, delete: true, db_table: 'STUD_MARK_SCALE', db_field: 'MARK_SCALE_ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
	{{ kula_display_html({ add: true, db_table: 'STUD_MARK_SCALE', db_field: 'MARK_SCALE_ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
	{{ kula_field({ add: true, db_table: 'STUD_MARK_SCALE', db_field: 'MARK_SCALE_NAME', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_MARK_SCALE', db_field: 'AUDIT', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_MARK_SCALE', db_field: 'INACTIVE_AFTER', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
		{{ kula_display_html({ add: true, db_table: 'STUD_MARK_SCALE', db_field: 'MARK_SCALE_ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
	{{ kula_display_html({ add: true, db_table: 'STUD_MARK_SCALE', db_field: 'MARK_SCALE_ID', prepend_html: '</tr>' }) }}
	{% for markscale in mark_scales %}
	<tr>
		{{ kula_field({ delete: true, db_table: 'STUD_MARK_SCALE', db_field: 'MARK_SCALE_NAME', db_row_id: markscale.MARK_SCALE_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ edit: true, db_table: 'STUD_MARK_SCALE', db_field: 'MARK_SCALE_NAME', db_row_id: markscale.MARK_SCALE_ID, value: markscale.MARK_SCALE_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_MARK_SCALE', db_field: 'AUDIT', db_row_id: markscale.MARK_SCALE_ID, value: markscale.AUDIT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_MARK_SCALE', db_field: 'INACTIVE_AFTER', db_row_id: markscale.MARK_SCALE_ID, value: markscale.INACTIVE_AFTER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		<td class="data-table-cell-row-detail"><a class="normal-link" href="{{ path('sis_setup_grading_markscale_detail', { mark_scale_id: markscale.MARK_SCALE_ID }) }}">...</a></td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}