{% extends 'KulaCoreFrameworkBundle:Base:kula.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
        {% javascripts 
          '@KulaCoreFrameworkBundle/Resources/public/js/lib/quickselect/quicksilver.js' 
          '@KulaCoreFrameworkBundle/Resources/public/js/lib/quickselect/jquery.quickselect.js'
          '@KulaCoreFrameworkBundle/Resources/public/js/lib/contextMenu.js'
          '@KulaCoreFrameworkBundle/Resources/public/js/core.js'
          '@KulaCoreFrameworkBundle/Resources/public/js/focus.js'
          '@KulaCoreFrameworkBundle/Resources/public/js/form.js'
          '@KulaCoreFrameworkBundle/Resources/public/js/application.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
{% endblock %}

{% block navigation_bar %}
<ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none" >
    <li><a tabindex="-1" data-action="newtab">Open in New Tab</a></li>
    <li><div role="menuitem" tabindex="-1" class="disabled">Open in New Window</div></li>
</ul>
{% endblock %}

{% block navigation_pane %}
{% import _self as kula_page %}
<div class="tree">
  <ul>
{% set topOfTree = kula_core_navigation.getNavigationTreeTop() %}
{% for top_name in topOfTree %}
  {% if kula_core_navigation.getProperty(top_name, 'type') == 'dir' %}
    {{ kula_page.loadDirectories(top_name, true) }}
  {% endif %}
  {% if kula_core_navigation.getProperty(top_name, 'type') == 'form' or kula_core_navigation.getProperty(top_name, 'type') == 'report' %}
    {% if kula_core_navigation.getProperty(top_name, 'original') != '' %}
      {% set original_nav = kula_core_navigation.getProperty(top_name, 'original') %}
    <li><a href="{% if kula_core_navigation.getRoute(original_nav) %}{{ path(kula_core_navigation.getRoute(original_nav)) }}{% endif %}" class="navigation-link">{% if kula_core_navigation.getProperty(top_name, 'display_name') %}{{ kula_core_navigation.getProperty(top_name, 'display_name') }}{% else %}{{ kula_core_navigation.getProperty(original_nav, 'display_name') }}{% endif %}</a></li>
    {% else %}
    <li><a href="{% if kula_core_navigation.getRoute(top_name) %}{{ path(kula_core_navigation.getRoute(top_name)) }}{% endif %}" class="navigation-link">{{ kula_core_navigation.getProperty(top_name, 'display_name') }}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
  </ul>
</div>
{% endblock %}

{% macro loadDirectories(directory, open) %}
{% import _self as kula_page %}
{# and kula_core_navigation.shouldOpenNode(kula_core_navigation.getCurrentRequestNav(), directory) == false #}
<li class="parent_li"{% if open == false %} style="display:none;"{% endif %}>
<span class="closed">{{ kula_core_navigation.getProperty(directory, 'display_name') }}</span>
{% set dirs = kula_core_navigation.getProperty(directory, 'children') %}
{% if dirs %}
<ul>
  {% for dir in dirs %}
  {% if kula_core_navigation.getProperty(dir, 'type') == 'form' or kula_core_navigation.getProperty(dir, 'type') == 'report' %}
    {% if kula_core_navigation.getProperty(dir, 'original') != '' %}
      {% set original_nav = kula_core_navigation.getProperty(dir, 'original') %}
    <li style="display:none;"><a href="{% if kula_core_navigation.getRoute(original_nav) %}{{ path(kula_core_navigation.getRoute(original_nav)) }}{% endif %}" class="navigation-link">{% if kula_core_navigation.getProperty(dir, 'display_name') %}{{ kula_core_navigation.getProperty(dir, 'display_name') }}{% else %}{{ kula_core_navigation.getProperty(original_nav, 'display_name') }}{% endif %}</a></li>
    {% else %}
    <li style="display:none;"><a href="{% if kula_core_navigation.getRoute(dir) %}{{ path(kula_core_navigation.getRoute(dir)) }}{% endif %}" class="navigation-link">{{ kula_core_navigation.getProperty(dir, 'display_name') }}</a></li>
    {% endif %}
  {% endif %}
  {% if kula_core_navigation.getProperty(dir, 'type') == 'dir' %}
    {{ kula_page.loadDirectories(dir, false) }}
  {% endif %}
  {% endfor %}
</ul>
</li>
{% endif %}
{% endmacro %}

{% block main %}
  <div id="window_bar">
      <ul class="nav nav-tabs">
        <li id="windowTitle_1" data-window="1" class="active" data-window-url="{{ request.getBaseUrl()~request.getPathInfo() }}" data-focus-org="{{ session.getFocus('organization_id') }}" data-focus-term="{{ session.getFocus('term_id') }}"><a href="#"><span class="close-window">x</span>
          {% block navigation_title %}{% endblock %}</a></li>
      </ul>
  </div>
  <div id="windows_container">
    {% block window %}
    {% endblock %}
  </div>
{% endblock %}