{% extends partial == "window" ? 'KulaCoreFrameworkBundle:Core:window_partial.html.twig' : 'KulaCoreFrameworkBundle:Core:page.html.twig' %}

{% block navigation_title %}
{% if navigation_info.NAVIGATION_TYPE == 'F' %}
{{ navigation_info.NAME }}
{% else %}
{{ navigation_info.form.NAME }}
{% endif %}
{% endblock %}

{% block window %}
<!-- window menu bar -->
{% set requestedNav = kula_core_navigation.getRequestedNavItem() %}
{% set menuActions = requestedNav.getMenuActions(kula_core_permission) %}
{% set menuReports = requestedNav.getMenuReports(kula_core_permission) %}
<form id="window_window_num_form" method="post" action="{{ form_action }}" data-navigation-type="{% if form_newWindow == true  %}report{% else %}{{ requestedNav.getType() }}{% endif %}"{% if requestedNav.getType() == 'report' or requestedNav.getType() == 'menu_report' or form_newWindow == true %} target="_blank"{% endif %}>
<div id="window_window_num_menu_bar" class="window_menu_bar group">
  <div id="window_window_num_menu_bar_left" class="window_menu_bar_left">
{% if menuActions %}
<div id="window_window_num_menu_actions" class="dropdown">
    <a href="#" data-toggle="dropdown" class="menu-button"><img src="{{ asset('images/actions_menu.png') }}" /> <span class="caret"></span></a>
  <ul id="window_window_num_menu_actions_contents" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    {% for menuAction in menuActions %}
    {% if menuAction.getDividerBefore() %}
    <li role="presentation" class="divider"></li>
    {% endif %}
    <li role="presentation">{% if menuAction.getRecordLoaded() == false or (menuAction.getRecordLoaded() == true and kula_core_record.getSelectedRecordID() != '') %}<a role="menuitem" tabindex="-1" href="{{ path(menuAction.getRoute(), { record_type: kula_core_record.getRecordType(), record_id: kula_core_record.getSelectedRecordID() } ) }}" 
data-http-method="{% if getMethodsForRoute(router, menuAction.getRoute()) %}{{ getMethodsForRoute(router, menuAction.getRoute()).0 }}{% else %}GET{% endif %}"
data-confirm="{{ menuAction.getConfirmationMessage() }}">{{ menuAction.getDisplayName() }}</a>{% else %}<div role="menuitem" tabindex="-1" class="disabled">{{ menuAction.getDisplayName() }}</div>{% endif %}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% if menuReports %}
<div id="window_window_num_menu_reports" class="dropdown">
    <a href="#" data-toggle="dropdown" class="menu-button"><img src="{{ asset('images/reports_menu.png') }}" /> <span class="caret"></span></a>
  <ul id="window_window_num_menu_reports_contents" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    {% for menuReport in menuReports %}
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path(menuReport.getRoute()) }}">{{ menuReport.getDisplayName() }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
     <div class="window_menu_bar_record"{% if kula_core_record.getRecordType() == '' %} style="display:none;"{% endif %}>
<span id="window_window_num_menu_bar_record_prev" data-scrubber="previous" data-record-type="{{ kula_core_record.getRecordType() }}" data-record-id="{{ kula_core_record.getSelectedRecordID() }}"><img src="{{ asset('images/left_record.png') }}" /></span>
<span id="window_window_num_menu_bar_record_search" data-scrubber="search"><img src="{{ asset('images/search_record.png') }}" /></span>
<span id="window_window_num_menu_bar_record_next" data-scrubber="next" data-record-type="{{ kula_core_record.getRecordType() }}" data-record-id="{{ kula_core_record.getSelectedRecordID() }}"><img src="{{ asset('images/right_record.png') }}" /></span>
     </div>
     <div class="window_menu_bar_form_buttons" data-form-id="window_window_num_form">
 <input id="window_window_num_form_mode" type="hidden" name="mode" value="{{ mode }}" />
  <input id="window_window_num_form_submit" type="submit" name="submit" value="{% if mode == 'search' %}Search{% else %}Submit{% endif %}" />
  <button id="window_window_num_button_reload" class="button-reload">Reload</button>
     </div>
     <div id="window_window_num_form_status" class="window_menu_bar_form_status"></div>
  </div>
</div>
{% if selected_record_bar_template_path %}
{% if kula_core_record.getSelectedRecord() %}
<!-- window selected record bar -->
<div id="window_window_num_selected_record_bar" class="window_selected_record_bar group">
  {% include selected_record_bar_template_path %}
</div>
{% endif %}
{% endif %}
{% set tabsToDisplay = kula_core_navigation.getRequestedNavItem().getTabs(kula_core_permission) %}
{% if tabsToDisplay %}
<!-- window tab bar -->
<div id="window_window_num_tab_bar" class="window_tab_bar">
  <ul class="tabs">
    {% for tab in tabsToDisplay %}
<li{% if tab.getRoute() == request.get('_route') %} class="active"{% endif %}><a id="window_window_num_tab_{{tab.getDBID()}}" href="{{ path(tab.getRoute()) }}" class="window-tab-link" data-window="window_num">{{ tab.getDisplayName() }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<!-- content -->
<div id="window_window_num_content">
  <div id="window_window_num_tab_{{ kula_core_navigation.getRequestedTab().getDBID() }}_content" class="tab_content" data-window-url="{{ request.getBaseUrl()~request.getPathInfo() }}">
    <div class="record_bar_tab_menu_data" style="display:none;" data-mode="{{ mode }}" data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}"></div>
    {% if record_type %}
    <div class="record_bar group">
    {% include record_bar_template_path %}
    </div>
    {% endif %}
    <div class="window_content">
{% include 'KulaCoreFrameworkBundle:Base:flash.html.twig' %}
    {% block content %}
    {% endblock %}
    <div id="window_window_num_tab_{% if kula_core_navigation.getRequestedTab().getDBID() %}{{kula_core_navigation.getRequestedTab().getDBID()}}{% endif %}_detail">
    {% block detail %}
    {% endblock %}
    </div>
    </div>
  </div>
</div>
</form>
{% endblock %}