<div id="window_window_num_tab_{% if navigation_info.NAVIGATION_TYPE == 'T' %}{{navigation_info.NAVIGATION_ID}}{% else %}{{ tabsToDisplay[0]['NAVIGATION_ID'] }}{% endif %}_alert">
{% for flashMessage in app.session.flashbag.get('error') %}
	 <div class="alert alert-error">
	 {{ flashMessage| raw }}
	 </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
	 <div class="alert alert-success">
	 {{ flashMessage| raw }}
	 </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
	 <div class="alert alert-info">
	 {{ flashMessage| raw }}
	 </div>
{% endfor %}
</div>