{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<div class="group-box">
<div class="group-box-header">Search Constituents</div>
<div class="group-box-contents group">
{{ kula_field({ search: true, field: 'Core.Constituent.LastName', label: true }) }}
{{ kula_field({ search: true, field: 'Core.Constituent.FirstName', label: true }) }}
{{ kula_field({ search: true, field: 'Core.Constituent.MiddleName', label: true }) }}
{{ kula_field({ search: true, field: 'Core.Constituent.PermanentNumber', label: true }) }}
{{ kula_field({ search: true, field: 'Core.Constituent.BirthDate', label: true }) }}
{{ kula_field({ search: true, field: 'Core.Constituent.SocialSecurityNumber', label: true }) }}
</div>
</div>

{% if request.request.has('search') %}
<div class="group-box-contents group">
  <a href="{{ path('core_HEd_student_information_add_constituent') }}" class="normal-link">Add Constituent</a>
</div>
{% endif %}

{% if constituents %}
<div class="group-box">
<div class="group-box-header">Add Student</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Status.Grade', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, value: defaults.DEFAULT_GRADE, label: true }) }}
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Status.Level', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, value: defaults.DEFAULT_LEVEL,label: true }) }}
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Status.Resident', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, label: true }) }}
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Status.EnterDate', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, value:"now"|date("m/d/Y"), label: true }) }}
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Status.EnterCode', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, value: defaults.DEFAULT_ENTER_CODE, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">New Degree</div>
<div class="group-box-contents group">Leave blank to use existing degree.</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Degree.ID', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, field_name_override: 'Degree', label: true }) }}
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Degree.ExpectedCompletionTermID', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, field_name_override: 'Expected Completion Term', label: true }) }}
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Degree.ExpectedGraduationDate', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, field_name_override: 'Expected Graduation Date', label: true }) }}
</div>
</div>
{% endif %}



<div class="data-table-header-div">
Search Results
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
  {{ kula_field_name({ add: true, field: 'HEd.Student.Status.StudentID', field_name_override: '&nbsp;', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ search: true, field: 'Core.Constituent.LastName', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ search: true, field: 'Core.Constituent.FirstName', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ search: true, field: 'Core.Constituent.MiddleName', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ search: true, field: 'Core.Constituent.PermanentNumber', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ search: true, field: 'Core.Constituent.Gender', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ search: true, field: 'Core.Constituent.BirthDate', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ search: true, field: 'Core.Constituent.SocialSecurityNumber', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</thead>
<tbody>
  {% for constituent in constituents %}
  <tr>
    {% if constituent.STUDENT_STATUS_ID %}
    <td class="data-table-cell-row-delete">X</td>
    {% else %}
    {{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Status.StudentID', value: constituent.CONSTITUENT_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    {% endif %}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ input: false, field: 'Core.Constituent.LastName', db_row_id: constituent.CONSTITUENT_ID, value: constituent.LAST_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'Core.Constituent.FirstName', db_row_id: constituent.CONSTITUENT_ID, value: constituent.FIRST_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'Core.Constituent.MiddleName', db_row_id: constituent.CONSTITUENT_ID, value: constituent.MIDDLE_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'Core.Constituent.PermanentNumber', db_row_id: constituent.CONSTITUENT_ID, value: constituent.PERMANENT_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'Core.Constituent.Gender', db_row_id: constituent.CONSTITUENT_ID, value: constituent.GENDER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'Core.Constituent.BirthDate', db_row_id: constituent.CONSTITUENT_ID, value: constituent.BIRTH_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'Core.Constituent.SocialSecurityNumber', db_row_id: constituent.CONSTITUENT_ID, value: constituent.SOCIAL_SECURITY_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}