{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}

<div class="group-box">
<div class="group-box-header">Add Constituent</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, field: 'Core.Constituent.LastName', table_row: false, label: true }) }}
{{ kula_field({ add: true, field: 'Core.Constituent.FirstName', table_row: false, label: true }) }}
{{ kula_field({ add: true, field: 'Core.Constituent.MiddleName', table_row: false, label: true }) }}
{{ kula_field({ add: true, field: 'Core.Constituent.SocialSecurityNumber', table_row: false, label: true }) }}
</div>
</div>

<div class="group-box">
<div class="group-box-header">Birth Info</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, field: 'Core.Constituent.Gender', table_row: false, label: true }) }}
{{ kula_field({ add: true, field: 'Core.Constituent.BirthDate', table_row: false, label: true }) }}
</div>
</div>

<div class="group-box">
<div class="group-box-header">Enrollment</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Status.Grade', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, value: defaults.DEFAULT_GRADE, label: true }) }}
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Status.Level', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, value: defaults.DEFAULT_LEVEL, label: true }) }}
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Status.Resident', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, label: true }) }}
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Status.EnterDate', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, value: default_enter_date, label: true }) }}
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Status.EnterCode', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, value: defaults.DEFAULT_ENTER_CODE, label: true }) }}
</div>
</div>

<div class="group-box">
<div class="group-box-header">New Degree</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Degree.ID', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, field_name_override: 'Degree', label: true }) }}
{{ kula_field({ add: true, table_row: false, field: 'HEd.Student.Degree.ExpectedCompletionTermID', db_row_id: kula_core_record.getSelectedRecord.STUDENT_ID, field_name_override: 'Expected Completion Term', label: true }) }}
</div>
</div>

{% endblock %}