{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}

{% block content %}
<p>
<a class="normal-link"  data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}" href="{{ path('sis_HEd_student_enrollment_enrollmentdetail', { student_status_id: status.STUDENT_STATUS_ID }) }}">Back to Enrollments</a>
</p>

<div class="group-box">
<div class="group-box-header">Status</div>
<div class="group-box-contents group">
{{ kula_field({ field: 'Core.Term.Abbreviation', field_name_override: 'Term', value: status.TERM_ABBREVIATION, label: true }) }}
{{ kula_field({ field: 'Core.Organization.Name', value: status.ORGANIZATION_NAME, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Status.Grade', value: status.GRADE, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Status.Level', value: status.LEVEL, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Status.Resident', value: status.RESIDENT, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Status.FTE', value: status.FTE, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Status.ThesisStatus', value: status.THESIS_STATUS, label: true }) }}
</div>
</div>

<div class="group-box">
<div class="group-box-header">Enrollment</div>
<div class="group-box-contents group">
{{ kula_field({ field: 'HEd.Student.Enrollment.EnterDate', value: enrollment.ENTER_DATE, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Enrollment.EnterCode', value: enrollment.ENTER_CODE, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Enrollment.LeaveDate', value: enrollment.LEAVE_DATE, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Enrollment.LeaveCode', value: enrollment.LEAVE_CODE, label: true }) }}
</div>
</div>

<div class="group-box">
<div class="group-box-header">Audit</div>
<div class="group-box-contents group">
{{ kula_field({ field: 'HEd.Student.Enrollment.CreatedUserstamp', value: enrollment.createduser_FIRST_NAME~' '~enrollment.createduser_LAST_NAME, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Enrollment.CreatedTimestamp', value: enrollment.CREATED_TIMESTAMP, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Enrollment.UpdatedUserstamp', value: enrollment.updateduser_FIRST_NAME~' '~enrollment.updateduser_LAST_NAME, label: true }) }}
{{ kula_field({ field: 'HEd.Student.Enrollment.UpdatedTimestamp', value: enrollment.UPDATED_TIMESTAMP, label: true }) }}
</div>
</div>

<div class="data-table-header-div">
Enrollment Activity
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'HEd.Student.Enrollment.Activity.EffectiveDate', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.Enrollment.Activity.Grade', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.Enrollment.Activity.Level', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.Enrollment.Activity.ThesisStatus', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.Enrollment.Activity.Resident', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.Enrollment.Activity.FTE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.Enrollment.Activity.SeekingDegree1ID', field_name_override: 'Seeking Degree 1', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.Enrollment.Activity.SeekingDegree2ID', field_name_override: 'Seeking Degree 2', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</thead>
<tbody>
  {% for act in activity %}
  <tr>
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ field: 'HEd.Student.Enrollment.Activity.EffectiveDate', db_row_id: act.ENROLLMENT_ACTIVITY_ID, value: act.EFFECTIVE_DATE, input: false, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Student.Enrollment.Activity.Grade', db_row_id: act.ENROLLMENT_ACTIVITY_ID, value: act.GRADE, input: false, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Student.Enrollment.Activity.Level', db_row_id: act.ENROLLMENT_ACTIVITY_ID, value: act.LEVEL, input: false, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Student.Enrollment.Activity.ThesisStatus', db_row_id: act.ENROLLMENT_ACTIVITY_ID, value: act.THESIS_STATUS, input: false, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Student.Enrollment.Activity.Resident', db_row_id: act.ENROLLMENT_ACTIVITY_ID, value: act.RESIDENT, input: false, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Student.Enrollment.Activity.FTE', db_row_id: act.ENROLLMENT_ACTIVITY_ID, value: act.FTE, input: false, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Student.Enrollment.Activity.SeekingDegree1ID', STUDENT_ID: kula_core_record.getSelectedRecordID(), db_row_id: act.ENROLLMENT_ACTIVITY_ID, value: act.SEEKING_DEGREE_1_ID, input: false, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ field: 'HEd.Student.Enrollment.Activity.SeekingDegree2ID', db_row_id: act.ENROLLMENT_ACTIVITY_ID, value: act.SEEKING_DEGREE_2_ID, STUDENT_ID: kula_core_record.getSelectedRecordID(), input: false, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}