{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Emergency Contacts
<span class="data-table-header-buttons">
	{{ kula_table_add('window_window_num_data_table_emergency', 'STUD_STUDENT_EMERGENCY_CONTACT') }}
</span>
</div>
<table id="window_window_num_data_table_emergency" class="data-table">
<thead>
	{{ kula_field_name({ delete: true, db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'EMERGENCY_CONTACT_ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'SORT', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'EMERGENCY_CONTACT_NAME', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'EMERGENCY_CONTACT_PHONE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</thead>
<tbody>
  {{ kula_display_html({ add: true, db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'EMERGENCY_CONTACT_ID', prepend_html: '<tr class="data-table-row-new">' }) }}
	{{ kula_field({ add: true, db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'STUDENT_ID', value: record_obj.getSelectedRecord.STUDENT_ID, hidden: true }) }}
	{{ kula_field({ add: true, delete: true, db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'EMERGENCY_CONTACT_ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
	{{ kula_display_html({ add: true, db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'EMERGENCY_CONTACT_ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
	{{ kula_field({ add: true, db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'SORT', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'EMERGENCY_CONTACT_NAME', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'EMERGENCY_CONTACT_PHONE', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_display_html({ add: true, db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'EMERGENCY_CONTACT_ID', prepend_html: '</tr>' }) }}
	{% for emergency in emergency_contacts %}
	<tr>
		{{ kula_field({ delete: true, db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'EMERGENCY_CONTACT_ID', db_row_id: emergency.EMERGENCY_CONTACT_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'SORT', db_row_id: emergency.EMERGENCY_CONTACT_ID, value: emergency.SORT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'EMERGENCY_CONTACT_NAME', db_row_id: emergency.EMERGENCY_CONTACT_ID, value: emergency.EMERGENCY_CONTACT_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_EMERGENCY_CONTACT', db_field: 'EMERGENCY_CONTACT_PHONE', db_row_id: emergency.EMERGENCY_CONTACT_ID, value: emergency.EMERGENCY_CONTACT_PHONE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}