{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}

<div class="group">
<div class="group-box" style="float:left;width:49%;">
<div class="group-box-header">Section</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, db_table: 'STUD_SECTION', db_field: 'START_DATE', db_row_id: record_obj.getSelectedRecord.SECTION_ID, value: section.START_DATE, label: true }) }}
{{ kula_field({ edit: true, db_table: 'STUD_SECTION', db_field: 'END_DATE', db_row_id: record_obj.getSelectedRecord.SECTION_ID, value: section.END_DATE, label: true }) }}
{{ kula_field({ edit: true, db_table: 'STUD_SECTION', db_field: 'CREDITS', db_row_id: record_obj.getSelectedRecord.SECTION_ID, value: section.CREDITS, label: true }) }}
{{ kula_field({ edit: true, db_table: 'STUD_SECTION', db_field: 'MARK_SCALE_ID', db_row_id: record_obj.getSelectedRecord.SECTION_ID, value: section.MARK_SCALE_ID, label: true }) }}
</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, db_table: 'STUD_SECTION', db_field: 'NO_CLASS_DATES', db_row_id: record_obj.getSelectedRecord.SECTION_ID, value: section.NO_CLASS_DATES, label: true }) }}
</div>
</div>

<div class="group-box" style="float:right;width:49%;">
<div class="group-box-header">Seats</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, db_table: 'STUD_SECTION', db_field: 'CAPACITY', db_row_id: record_obj.getSelectedRecord.SECTION_ID, value: section.CAPACITY, label: true }) }}
{{ kula_field({ edit: true, db_table: 'STUD_SECTION', db_field: 'MINIMUM', db_row_id: record_obj.getSelectedRecord.SECTION_ID, value: section.MINIMUM, label: true }) }}
{{ kula_field({ db_table: 'STUD_SECTION', db_field: 'ENROLLED_TOTAL', db_row_id: record_obj.getSelectedRecord.SECTION_ID, value: section.ENROLLED_TOTAL, label: true }) }}
{{ kula_field({ db_table: 'STUD_SECTION', db_field: 'WAIT_LISTED_TOTAL', db_row_id: record_obj.getSelectedRecord.SECTION_ID, value: section.WAIT_LISTED_TOTAL, label: true }) }}
</div>
</div>
</div>

<div class="data-table-header-div">
Meeting Days
<span class="data-table-header-buttons">
	{{ kula_table_add('window_window_num_data_table_meeting_days', 'STUD_SECTION_MEETINGS') }}
</span>
</div>
<table id="window_window_num_data_table_meeting_days" class="data-table">
<thead>
		{{ kula_field_name({ delete: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'SECTION_MEETING_ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'SCHEDULE_TYPE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'SUN', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'MON', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'TUE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'WED', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'THU', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'FRI', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'SAT', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'START_TIME', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'END_TIME', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'START_DATE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'END_DATE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'ROOM_ID', field_name_override: 'Room', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</thead>
<tbody>
  {{ kula_display_html({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'SECTION_MEETING_ID', prepend_html: '<tr class="data-table-row-new">' }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'SECTION_ID', value: record_obj.getSelectedRecord.SECTION_ID, hidden: true }) }}
	{{ kula_field({ add: true, delete: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'SECTION_MEETING_ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
	{{ kula_display_html({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'SECTION_MEETING_ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'SCHEDULE_TYPE', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'SUN', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'MON', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'TUE', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'WED', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'THU', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'FRI', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'SAT', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'START_TIME', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'END_TIME', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'START_DATE', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'END_DATE', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_field({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'ROOM_ID', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
	{{ kula_display_html({ add: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'SECTION_MEETING_ID', prepend_html: '</tr>' }) }}
	{% for meeting_time in meeting_times %}
	<tr>
		{{ kula_field({ delete: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'SECTION_MEETING_ID', db_row_id: meeting_time.SECTION_MEETING_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ edit: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'SCHEDULE_TYPE', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.SCHEDULE_TYPE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'SUN', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.SUN, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'MON', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.MON, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'TUE', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.TUE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'WED', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.WED, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'THU', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.THU, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'FRI', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.FRI, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'SAT', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.SAT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'START_TIME', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.START_TIME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'END_TIME', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.END_TIME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'START_DATE', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.START_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'END_DATE', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.END_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_SECTION_MEETINGS', db_field: 'ROOM_ID', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.ROOM_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
	</tr>
	{% endfor %}
</tbody>
</table>
<div class="group-box">
<div class="group-box-header">Supplies</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, db_table: 'STUD_SECTION', db_field: 'SUPPLIES_REQUIRED', db_row_id: record_obj.getSelectedRecord.SECTION_ID, value: section.SUPPLIES_REQUIRED, label: true }) }}
{{ kula_field({ edit: true, db_table: 'STUD_SECTION', db_field: 'SUPPLIES_OPTIONAL', db_row_id: record_obj.getSelectedRecord.SECTION_ID, value: section.SUPPLIES_OPTIONAL, label: true }) }}
{{ kula_field({ edit: true, db_table: 'STUD_SECTION', db_field: 'SUPPLIES_PRICE', db_row_id: record_obj.getSelectedRecord.SECTION_ID, value: section.SUPPLIES_PRICE, label: true }) }}
</div>
</div>
</div>
{% endblock %}