{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Terms
<span class="data-table-header-buttons">
	{{ kula_table_add('window_window_num_data_table_terms', 'CORE_TERM') }}
</span>
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
	<tr>
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ delete: true, field: 'Core.Term.ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ edit: true, field: 'Core.Term.Name', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ edit: true, field: 'Core.Term.Abbreviation', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ edit: true, field: 'Core.Term.StartDate', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ edit: true, field: 'Core.Term.EndDate', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ edit: true, field: 'Core.Term.FinancialAidYear', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  </tr>
</thead>
<tbody>
	 {{ kula_display_html({ add: true, field: 'Core.Term.ID', prepend_html: '<tr class="data-table-row-new">' }) }}
		{{ kula_field({ add: true, delete: true, field: 'Core.Term.ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		{{ kula_display_html({ add: true, field: 'Core.Term.ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
		{{ kula_field({ add: true, field: 'Core.Term.Name', prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ add: true, field: 'Core.Term.Abbreviation', prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ add: true, field: 'Core.Term.StartDate', prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ add: true, field: 'Core.Term.EndDate', prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ add: true, field: 'Core.Term.FinancialAidYear', prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
	{{ kula_display_html({ add: true, field: 'Core.Term.ID', prepend_html: '</tr>' }) }}
	{% for term in terms %}
	<tr>
		{{ kula_field({ delete: true, field: 'Core.Term.ID', db_row_id: term.TERM_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ edit: true, field: 'Core.Term.Name', db_row_id: term.TERM_ID, value: term.TERM_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, field: 'Core.Term.Abbreviation', db_row_id: term.TERM_ID, value: term.TERM_ABBREVIATION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, field: 'Core.Term.StartDate', db_row_id: term.TERM_ID, value: term.START_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, field: 'Core.Term.EndDate', db_row_id: term.TERM_ID, value: term.END_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, field: 'Core.Term.FinancialAidYear', db_row_id: term.TERM_ID, value: term.FINANCIAL_AID_YEAR, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
	</tr>
	{% endfor %}
</tbody>
</table>

{% endblock %}