<div id="window_window_num_selected_record_bar_left" class="window_selected_record_bar_left">
<ul>
{% if kula_core_record.getSelectedRecord.ORGANIZATION_NAME %}
{{ kula_field({ field: 'Core.Organization.Name', db_row_id: kula_core_record.getSelectedRecord.STUDENT_STATUS_ID, value: kula_core_record.getSelectedRecord.ORGANIZATION_NAME, input: false, prepend_html: '<li>', append_html: '</li>' }) }}
<li>{{ kula_field({ field: 'Core.Term.Abbreviation', db_row_id: kula_core_record.getSelectedRecord.STUDENT_STATUS_ID, value: kula_core_record.getSelectedRecord.TERM_ABBREVIATION, input: false }) }}</li>
{% endif %}
<li>
  {% if kula_core_record.getSelectedRecord.STATUS != '' %}({% endif %}
  {{ kula_field({ field: 'Core.Constituent.LastName', db_row_id: kula_core_record.getSelectedRecord.STUDENT_STATUS_ID, value: kula_core_record.getSelectedRecord.LAST_NAME, input: false }) }},
{{ kula_field({ field: 'Core.Constituent.FirstName', db_row_id: kula_core_record.getSelectedRecord.STUDENT_STATUS_ID, value: kula_core_record.getSelectedRecord.FIRST_NAME, input: false }) }}
{{ kula_field({ field: 'Core.Constituent.MiddleName', db_row_id: kula_core_record.getSelectedRecord.STUDENT_STATUS_ID, value: kula_core_record.getSelectedRecord.MIDDLE_NAME, input: false })|first }}

  {% if kula_core_record.getSelectedRecord.STATUS != '' %}){% endif %}
</li>
{% if kula_core_record.getSelectedRecord.PREFERRED_NAME %}
<li>
{{ kula_field({ field: 'Core.Constituent.PreferredName', db_row_id: kula_core_record.getSelectedRecord.STUDENT_STATUS_ID, value: '"'~kula_core_record.getSelectedRecord.PREFERRED_NAME~'"', input: false }) }}
</li>
{% endif %}
<li>{{ kula_field({ field: 'Core.Constituent.Gender', db_row_id: kula_core_record.getSelectedRecord.STUDENT_STATUS_ID, value: kula_core_record.getSelectedRecord.GENDER, lookup: 'C', input: false }) }}</li>
{% if kula_core_record.getSelectedRecord.GRADE %}
<li>{{ kula_field({ field: 'HEd.Student.Status.Grade', db_row_id: kula_core_record.getSelectedRecord.STUDENT_STATUS_ID, value: kula_core_record.getSelectedRecord.GRADE, input: false }) }}</li>
<li>{{ kula_field({ field: 'HEd.Student.Status.Resident', db_row_id: kula_core_record.getSelectedRecord.STUDENT_STATUS_ID, value: kula_core_record.getSelectedRecord.RESIDENT, lookup: 'C', input: false }) }}</li>
{% endif %}
<li>{{ kula_field({ field: 'Core.Constituent.PermanentNumber', db_row_id: kula_core_record.getSelectedRecord.STUDENT_STATUS_ID, value: kula_core_record.getSelectedRecord.PERMANENT_NUMBER, input: false }) }}</li>
</ul>
</div>
<div id="window_window_num_selected_record_bar_right" class="window_selected_record_bar_right">
  {% if kula_core_record.getSelectedRecord.DIRECTORY_PERMISSION == 'N' %}
  <div class="student-alert" style="background-color:#F5B800;padding:4px;font-weight:bold;color:black;">
    Directory
  </div>
  {% endif %}
  <div class="student-alert">
    {{ kula_core_record.getSelectedRecord.holds }}
  </div>
</div>