{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Enrollment
</div>
<table id="window_window_num_data_table_usergroups" class="data-table">
<thead>
  <tr>
  <th class="data-table-cell-row-header">#</th>
  <th class="data-table-cell-row-header">Grade</th>
  {% for level in levels %}
  <th class="data-table-cell-row-header" colspan="3">{{ level }}</th>
  {% endfor %}
  </tr>
  <tr>
  <th class="data-table-cell-row-header">&nbsp;</th>
  <th class="data-table-cell-row-header">&nbsp;</th>
  {% for level in levels %}
  <th class="data-table-cell-row-header">Count</th>
  <th class="data-table-cell-row-header">Credits</th>
  <th class="data-table-cell-row-header">FTE</th>
  {% endfor %}
  </tr>
</thead>
<tbody>
  {% for grade, totals in enrolled %}
  <tr>
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    <td>{{ grade }}</td>
    {% for level in levels %}
      <td>{{ totals[level] }}</td>
      <td>{{ credits[grade][level] }}</td>
      <td>{{ fte_data[grade][level] }}</td>
    {% endfor %}
  </tr>
  
  {% endfor %}
</tbody>
  <tr>
    <td class="data-table-cell-row-num">T</td>
    <td align="right">Total:</td>
    {% for level in levels %}
    <td>{{ totals_enrolled_data[level] }}</td>
    <td>{{ totals_credit_data[level] }}</td>
    <td>{{ totals_fte_data[level] }}</td>
    {% endfor %}
  </tr>
</table>
<br /><br />
<div class="data-table-header-div">
Enrollment List
</div>
<table id="window_window_num_data_table_usergroups" class="data-table">
<thead>
  <tr>
  <th class="data-table-cell-row-header">#</th>
  <th class="data-table-cell-row-header">Grade</th>
  <th class="data-table-cell-row-header">Level</th>
  <th class="data-table-cell-row-header">Name</th>
  <th class="data-table-cell-row-header">Gender</th>
  <th class="data-table-cell-row-header">Student #</th>
  <th class="data-table-cell-row-header">Status</th>
  <th class="data-table-cell-row-header">Enter Date / Code</th>
  <th class="data-table-cell-row-header">Leave Date / Code</th>
</tr>
</thead>
<tbody>
  {% for student in enrolled_list %}
  <tr>
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    <td>{{ student.GRADE }} {{ student.GRADE_code }}</td>
    <td>{{ student.LEVEL }}</td>
    <td>{{ student.LAST_NAME }}, {{ student.FIRST_NAME }} {{ student.MIDDLE_NAME }}</td>
    <td>{{ student.GENDER }}</td>
    <td>{{ student.PERMANENT_NUMBER }}</td>
    <td>{{ student.STATUS }}</td>
    <td>{% if student.ENTER_DATE %}{{ student.ENTER_DATE|date("m/d/Y") }}{% endif %} / {{ student.ENTER_CODE }}</td>
    <td>{% if student.LEAVE_DATE %}{{ student.LEAVE_DATE|date("m/d/Y") }}{% endif %} / {{ student.LEAVE_CODE }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
<br /><br />
{% endblock %}