<div id="window_window_num_selected_record_bar_left" class="window_selected_record_bar_left">
<ul>
<li>{{ kula_field({ field: 'Core.Organization.Name', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: kula_core_record.getSelectedRecord.ORGANIZATION_NAME, input: false }) }}</li>
<li>{{ kula_field({ field: 'Core.Term.Abbreviation', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: kula_core_record.getSelectedRecord.TERM_ABBREVIATION, input: false }) }}</li>
<li>
  {% if kula_core_record.getSelectedRecord.STATUS != '' %} ( {% endif %}
{{ kula_field({ field: 'K12.Section.SectionNumber', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: kula_core_record.getSelectedRecord.SECTION_NUMBER, input: false }) }}
  {% if kula_core_record.getSelectedRecord.STATUS != '' %} ) {% endif %}
</li>
<li>{{ kula_field({ field: 'K12.Section.Name', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: kula_core_record.getSelectedRecord.SECTION_NAME, input: false }) }}</li>
<li>{{ kula_field({ field: 'K12.Section.CourseID', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: kula_core_record.getSelectedRecord.COURSE_ID, input: false }) }}</li>
{% if kula_core_record.getSelectedRecord.STAFF_ORGANIZATION_TERM_ID %}
<li>{{ kula_field({ field: 'K12.Section.StaffOrganizationTermID', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: kula_core_record.getSelectedRecord.STAFF_ORGANIZATION_TERM_ID, input: false }) }}</li>
{% endif %}
</ul>
</div>