{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}
{% if record_obj.getSelectedRecord.STUDENT_STATUS_ID %}
<div class="group-box">
<div class="group-box-header">Student</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_STATUS', db_field: 'PAYMENT_PLAN', db_row_id: status.STUDENT_STATUS_ID, value: status.PAYMENT_PLAN, label: true}) }}
{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_STATUS', db_field: 'TUITION_RATE_ID', db_row_id: status.STUDENT_STATUS_ID, value: status.TUITION_RATE_ID, ORGANIZATION_TERM_ID: record_obj.getSelectedRecord().ORGANIZATION_TERM_ID, field_name_override: 'Tuition Rate', label: true}) }}
</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, db_table: 'STUD_STUDENT', db_field: 'BILLING_NOTES', db_row_id: status.STUDENT_ID, value: status.BILLING_NOTES, label: true}) }}
</div>
</div>
{% endif %}

<div class="data-table-header-div">
Term Balances
<span class="data-table-header-buttons">
</span>
</div>
<table id="window_window_num_data_table_term_balances" class="data-table">
<thead>
	<tr>
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'CORE_ORGANIZATION', db_field: 'ORGANIZATION_ABBREVIATION', field_name_override: 'Organization', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'CORE_TERM', db_field: 'TERM_ABBREVIATION', field_name_override: 'Term', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'AMOUNT', field_name_override: 'Total', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'APPLIED_BALANCE', field_name_override: 'Balance', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</tr>
</thead>
<tbody>
	{% for term_balance in terms_wtih_balances %}
	<tr>
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ db_table: 'CORE_ORGANIZATION', db_field: 'ORGANIZATION_ABBREVIATION', input: false, value: term_balance.ORGANIZATION_ABBREVIATION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'CORE_TERM', db_field: 'TERM_ABBREVIATION', input: false, value: term_balance.TERM_ABBREVIATION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'AMOUNT', input: false, value: term_balance.total_amount, prepend_html: '<td align="right">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'APPLIED_BALANCE', input: false, value: term_balance.total_applied_balance, prepend_html: '<td align="right">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
	</tr>
	{% endfor %}
	<tr>
		<td class="data-table-cell-row-num">T</td>
		<td colspan="2" align="right">Total:</td>
		<td align="right">{{ terms_total }}</td>
		<td>&nbsp;</td>
	</tr>
</tbody>
</table>

<div class="data-table-header-div">
Transactions with Balances
<span class="data-table-header-buttons">
</span>
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
	<tr>
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'CORE_ORGANIZATION', db_field: 'ORGANIZATION_ABBREVIATION', field_name_override: 'Organization', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'CORE_TERM', db_field: 'TERM_ABBREVIATION', field_name_override: 'Term', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'TRANSACTION_DATE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'BILL_CODE', db_field: 'CODE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'TRANSACTION_DESCRIPTION', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'AMOUNT', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'APPLIED_BALANCE', field_name_override: 'Balance', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">...</th>
</tr>
</thead>
<tbody>
	{% for transaction in transactions %}
	<tr>
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ db_table: 'CORE_ORGANIZATION', db_field: 'ORGANIZATION_ABBREVIATION', input: false, value: transaction.ORGANIZATION_ABBREVIATION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'CORE_TERM', db_field: 'TERM_ABBREVIATION', input: false, value: transaction.TERM_ABBREVIATION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'TRANSACTION_DATE', input: false, value: transaction.TRANSACTION_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'BILL_CODE', db_field: 'CODE', input: false, value: transaction.CODE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'TRANSACTION_DESCRIPTION', input: false, value: transaction.TRANSACTION_DESCRIPTION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'AMOUNT', input: false, value: transaction.AMOUNT, prepend_html: '<td align="right">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'APPLIED_BALANCE', input: false, value: transaction.APPLIED_BALANCE, prepend_html: '<td align="right">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
			<td class="data-table-cell-row-detail"><a class="normal-link" data-record-id="{{ record_obj.getSelectedRecordID() }}" data-record-type="{{ record_obj.getRecordType() }}" href="{{ path('sis_student_billing_transactiondetail', { constituent_transaction_id: transaction.CONSTITUENT_TRANSACTION_ID }) }}">...</a></td>
	</tr>
	{% endfor %}
	<tr>
		<td class="data-table-cell-row-num">T</td>
		<td colspan="5" align="right">Total:</td>
		<td align="right">{{ transactions_total }}</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</tbody>
</table>
{% endblock %}