{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="group-box">
<div class="group-box-header">Search Constituents</div>
<div class="group-box-contents group">
{{ kula_field({ search: true, db_table: 'CONS_CONSTITUENT', db_field: 'LAST_NAME', label: true }) }}
{{ kula_field({ search: true, db_table: 'CONS_CONSTITUENT', db_field: 'FIRST_NAME', label: true }) }}
{{ kula_field({ search: true, db_table: 'CONS_CONSTITUENT', db_field: 'MIDDLE_NAME', label: true }) }}
{{ kula_field({ search: true, db_table: 'CONS_CONSTITUENT', db_field: 'BIRTH_DATE', label: true }) }}
</div>
</div>

{% if constituents %}
<div class="group-box">
<div class="group-box-header">Add Staff</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, db_table: 'STUD_STAFF', db_field: 'ABBREVIATED_NAME', table_row: false, label: true }) }}
</div>
<div class="group-box-contents group">
	<a href="{{ path('sis_offering_staff_add_constituent') }}" class="normal-link">Add Constituent</a>
</div>
</div>
{% endif %}

<div class="data-table-header-div">
Search Results
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
	{{ kula_field_name({ add: true, db_table: 'CONS_CONSTITUENT', db_field: 'CONSTITUENT_ID', field_name_override: '&nbsp;', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ search: true, db_table: 'CONS_CONSTITUENT', db_field: 'LAST_NAME', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ search: true, db_table: 'CONS_CONSTITUENT', db_field: 'FIRST_NAME', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ search: true, db_table: 'CONS_CONSTITUENT', db_field: 'MIDDLE_NAME', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</thead>
<tbody>
	{% for constituent in constituents %}
	<tr>
		{{ kula_field({ add: true, table_row: false, db_table: 'STUD_STAFF_ORGANIZATION_TERMS', db_field: 'STAFF_ID', value: constituent.CONSTITUENT_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ input: false, db_table: 'CONS_CONSTITUENT', db_field: 'LAST_NAME', db_row_id: constituent.CONSTITUENT_ID, value: constituent.LAST_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ input: false, db_table: 'CONS_CONSTITUENT', db_field: 'FIRST_NAME', db_row_id: constituent.CONSTITUENT_ID, value: constituent.FIRST_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ input: false, db_table: 'CONS_CONSTITUENT', db_field: 'MIDDLE_NAME', db_row_id: constituent.CONSTITUENT_ID, value: constituent.MIDDLE_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
	</tr>
	{% endfor %}
</tbody>
</table>

{% endblock %}