{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}

<div class="group-box">
<div class="group-box-header">Add Constituent</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, db_table: 'CONS_CONSTITUENT', db_field: 'LAST_NAME', table_row: false, label: true }) }}
{{ kula_field({ add: true, db_table: 'CONS_CONSTITUENT', db_field: 'FIRST_NAME', table_row: false, label: true }) }}
{{ kula_field({ add: true, db_table: 'CONS_CONSTITUENT', db_field: 'MIDDLE_NAME', table_row: false, label: true }) }}
{{ kula_field({ add: true, db_table: 'CONS_CONSTITUENT', db_field: 'GENDER', table_row: false, label: true }) }}
</div>
</div>

<div class="group-box">
<div class="group-box-header">Add Staff</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, db_table: 'STUD_STAFF', db_field: 'ABBREVIATED_NAME', table_row: false, label: true }) }}
</div>
</div>

{% endblock %}