{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}

<div class="group">
<div class="group-box" style="float:left;width:49%;">
<div class="group-box-header">Section</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'K12.Section.StartDate', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.START_DATE, label: true }) }}
{{ kula_field({ edit: true, field: 'K12.Section.EndDate', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.END_DATE, label: true }) }}
{{ kula_field({ edit: true, field: 'K12.Section.Credits', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.CREDITS, label: true }) }}
</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'K12.Section.NoClassDates', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.NO_CLASS_DATES, label: true }) }}
</div>
</div>

<div class="group-box" style="float:right;width:49%;">
<div class="group-box-header">Seats</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'K12.Section.Capacity', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.CAPACITY, label: true }) }}
{{ kula_field({ edit: true, field: 'K12.Section.Minimum', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.MINIMUM, label: true }) }}
{{ kula_field({ field: 'K12.Section.EnrolledTotal', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.ENROLLED_TOTAL, label: true }) }}
{{ kula_field({ field: 'K12.Section.WaitListedTotal', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.WAIT_LISTED_TOTAL, label: true }) }}
</div>
<div class="group-box-header">Registration</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'K12.Section.AllowRegistration', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.ALLOW_REGISTRATION, label: true }) }}
{{ kula_field({ edit: true, field: 'K12.Section.OpenRegistration', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.OPEN_REGISTRATION, label: true }) }}
{{ kula_field({ edit: true, field: 'K12.Section.CloseRegistration', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.CLOSE_REGISTRATION, label: true }) }}
{{ kula_field({ edit: true, field: 'K12.Section.ParentEnroll', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.PARENT_ENROLL, label: true }) }}
</div>
</div>
</div>

<div class="data-table-header-div">
Meeting Days
<span class="data-table-header-buttons">
  {{ kula_table_add('window_window_num_data_table_meeting_days', 'STUD_SECTION_MEETINGS') }}
</span>
</div>
<table id="window_window_num_data_table_meeting_days" class="data-table">
<thead>
    {{ kula_field_name({ delete: true, field: 'K12.Section.Meeting.ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'K12.Section.Meeting.ScheduleType', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Section.Meeting.Sunday', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Section.Meeting.Monday', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Section.Meeting.Tuesday', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Section.Meeting.Wednesday', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Section.Meeting.Thursday', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Section.Meeting.Friday', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Section.Meeting.Saturday', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Section.Meeting.StartTime', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Section.Meeting.EndTime', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Section.Meeting.StartDate', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Section.Meeting.EndDate', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'K12.Section.Meeting.RoomID', field_name_override: 'Room', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</thead>
<tbody>
  {{ kula_display_html({ add: true, field: 'K12.Section.Meeting.ID', prepend_html: '<tr class="data-table-row-new">' }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.SectionID', value: kula_core_record.getSelectedRecord.SECTION_ID, hidden: true }) }}
  {{ kula_field({ add: true, delete: true, field: 'K12.Section.Meeting.ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
  {{ kula_display_html({ add: true, field: 'K12.Section.Meeting.ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.ScheduleType', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.Sunday', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.Monday', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.Tuesday', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.Wednesday', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.Thursday', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.Friday', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.Saturday', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.StartTime', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.EndTime', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.StartDate', value: section.START_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.EndDate', value: section.END_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'K12.Section.Meeting.RoomID', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_display_html({ add: true, field: 'K12.Section.Meeting.ID', prepend_html: '</tr>' }) }}
  {% for meeting_time in meeting_times %}
  <tr>
    {{ kula_field({ delete: true, field: 'K12.Section.Meeting.ID', db_row_id: meeting_time.SECTION_MEETING_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ edit: true, field: 'K12.Section.Meeting.ScheduleType', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.SCHEDULE_TYPE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Section.Meeting.Sunday', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.SUN, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Section.Meeting.Monday', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.MON, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Section.Meeting.Tuesday', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.TUE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Section.Meeting.Wednesday', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.WED, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Section.Meeting.Thursday', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.THU, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Section.Meeting.Friday', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.FRI, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true,field: 'K12.Section.Meeting.Saturday', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.SAT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Section.Meeting.StartTime', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.START_TIME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Section.Meeting.EndTime', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.END_TIME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Section.Meeting.StartDate', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.START_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Section.Meeting.EndDate', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.END_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'K12.Section.Meeting.RoomID', db_row_id: meeting_time.SECTION_MEETING_ID, value: meeting_time.ROOM_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
</tbody>
</table>
<div class="group-box">
<div class="group-box-header">Supplies</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'K12.Section.SuppliesRequired', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.SUPPLIES_REQUIRED, label: true }) }}
{{ kula_field({ edit: true, field: 'K12.Section.SuppliesOptional', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.SUPPLIES_OPTIONAL, label: true }) }}
{{ kula_field({ edit: true, field: 'K12.Section.SuppliesPrice', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.SUPPLIES_PRICE, label: true }) }}
</div>
</div>
</div>
{% endblock %}