{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<div class="group-box">
<div class="group-box-header">Section</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'K12.Section.ParentEnroll', db_row_id: kula_core_record.getSelectedRecord.SECTION_ID, value: section.PARENT_ENROLL, label: true }) }}
</div>
</div>
<div class="data-table-header-div">
Section Fee Charges
<span class="data-table-header-buttons">
  {{ kula_table_add('window_window_num_data_table_charges', 'BILL_SECTION_FEE', { school_term_only: true }) }}
</span>
</div>
<table id="window_window_num_data_table_charges" class="data-table">
<thead>
  {{ kula_field_name({ delete: true, school_term_only: true, field: 'K12.Billing.SectionFee.ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ edit: true, field: 'K12.Billing.SectionFee.CodeID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ edit: true, field: 'K12.Billing.SectionFee.Amount', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</thead>
<tbody>
    {{ kula_display_html({ add: true, field: 'K12.Billing.SectionFee.ID', prepend_html: '<tr class="data-table-row-new">' }) }}
    {{ kula_field({ add: true, field: 'K12.Billing.SectionFee.SectionID', value: kula_core_record.getSelectedRecord.SECTION_ID, hidden: true }) }}
    {{ kula_field({ add: true, delete: true, field: 'K12.Billing.SectionFee.ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    {{ kula_display_html({ add: true, field: 'K12.Billing.SectionFee.ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
    {{ kula_field({ add: true, field: 'K12.Billing.SectionFee.CodeID', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ add: true, field: 'K12.Billing.SectionFee.Amount', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
    {{ kula_display_html({ add: true, field: 'K12.Billing.SectionFee.ID', prepend_html: '</tr>' }) }}
  {% for course_fee in course_fees %}
  <tr>
    {{ kula_field({ input: false, school_term_only: true, field: 'K12.Billing.CourseFee.ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ input: false, school_term_only: true, field: 'K12.Billing.CourseFee.CodeID', value: course_fee.CODE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, school_term_only: true, field: 'K12.Billing.CourseFee.Amount', value: course_fee.AMOUNT, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
  {% for fee in fees %}
  <tr>
    {{ kula_field({ delete: true, school_term_only: true, field: 'K12.Billing.SectionFee.ID', db_row_id: fee.SECTION_FEE_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ edit: true, school_term_only: true, field: 'K12.Billing.SectionFee.CodeID', db_row_id: fee.SECTION_FEE_ID, value: fee.CODE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, school_term_only: true, field: 'K12.Billing.SectionFee.Amount', db_row_id: fee.SECTION_FEE_ID, value: fee.AMOUNT, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
</tbody>
</table>

<div class="data-table-header-div">
Section Fee Refunds
<span class="data-table-header-buttons">
  {{ kula_table_add('window_window_num_data_table_refunds', 'BILL_SECTION_FEE_REFUND', { school_term_only: true }) }}
</span>
</div>
<table id="window_window_num_data_table_refunds" class="data-table">
<thead>
  {{ kula_field_name({ delete: true, school_term_only: true, field: 'K12.Billing.SectionFee.Refund.ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ edit: true, field: 'K12.Billing.SectionFee.Refund.EndDate', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ edit: true, field: 'K12.Billing.SectionFee.Refund.CodeID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ edit: true, field: 'K12.Billing.SectionFee.Refund.Amount', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</thead>
<tbody>
    {{ kula_display_html({ add: true, field: 'K12.Billing.SectionFee.Refund.ID', prepend_html: '<tr class="data-table-row-new">' }) }}
    {{ kula_field({ add: true, field: 'K12.Billing.SectionFee.Refund.SectionID', value: kula_core_record.getSelectedRecord.SECTION_ID, hidden: true }) }}
    {{ kula_field({ add: true, delete: true, field: 'K12.Billing.SectionFee.Refund.ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    {{ kula_display_html({ add: true, field: 'K12.Billing.SectionFee.Refund.ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
    {{ kula_field({ add: true, field: 'K12.Billing.SectionFee.Refund.EndDate', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ add: true, field: 'K12.Billing.SectionFee.Refund.CodeID', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ add: true, field: 'K12.Billing.SectionFee.Refund.Amount', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
    {{ kula_display_html({ add: true, field: 'K12.Billing.SectionFee.Refund.ID', prepend_html: '</tr>' }) }}
  {% for course_refund_fee in course_refund_fees %}
  <tr>
    {{ kula_field({ input: false, school_term_only: true, field: 'K12.Billing.CourseFee.Refund.ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ input: false, school_term_only: true, field: 'K12.Billing.CourseFee.Refund.EndDate', value: course_refund_fee.END_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, school_term_only: true, field: 'K12.Billing.CourseFee.Refund.CodeID', value: course_refund_fee.CODE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, school_term_only: true, field: 'K12.Billing.CourseFee.Refund.Amount', value: course_refund_fee.AMOUNT, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
  {% for refund_fee in refund_fees %}
  <tr>
    {{ kula_field({ delete: true, school_term_only: true, field: 'K12.Billing.SectionFee.Refund.ID', db_row_id: refund_fee.SECTION_FEE_REFUND_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ edit: true, school_term_only: true, field: 'K12.Billing.SectionFee.Refund.EndDate', db_row_id: refund_fee.SECTION_FEE_REFUND_ID, value: refund_fee.END_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, school_term_only: true, field: 'K12.Billing.SectionFee.Refund.CodeID', db_row_id: refund_fee.SECTION_FEE_REFUND_ID, value: refund_fee.CODE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, school_term_only: true, field: 'K12.Billing.SectionFee.Refund.Amount', db_row_id: refund_fee.SECTION_FEE_REFUND_ID, value: refund_fee.AMOUNT, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}