{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<p>
  <a class="normal-link" data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}" href="{{ path('Core_Billing_BillingSetup_TuitionRates') }}">Back to Tuition Rates</a>
</p>

<div class="data-table-header-div">
Transactions
<span class="data-table-header-buttons">
  {{ kula_table_add('window_window_num_data_table_chargecodes', 'BILL_TUITION_RATE_TRANSACTIONS') }}
</span>
</div>
<table id="window_window_num_data_table_chargecodes" class="data-table">
<thead>
  <tr>
  {{ kula_field_name({ delete: true, field: 'Core.TuitionRate.Transaction.ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'Core.TuitionRate.Transaction.Rule', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.TuitionRate.Transaction.MinimumCredits', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.TuitionRate.Transaction.FullTimeCredits', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.TuitionRate.Transaction.MaxFullTimeCredits', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.TuitionRate.Transaction.TransactionCodeID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.TuitionRate.Transaction.Amount', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.TuitionRate.Transaction.CreditHourRate', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.TuitionRate.Transaction.FullTimeFlatRate', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">Actions</th>
  </tr>
</thead>
<tbody>
  {{ kula_display_html({ add: true, field: 'Core.TuitionRate.Transaction.ID', prepend_html: '<tr class="data-table-row-new">' }) }}
  {{ kula_field({ add: true, delete: true, field: 'Core.TuitionRate.Transaction.ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
  {{ kula_field({ add: true, field: 'Core.TuitionRate.Transaction.TuitionRateID', value: tuition_rate_id, hidden: true }) }}
  {{ kula_display_html({ add: true, field: 'Core.TuitionRate.Transaction.ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
  {{ kula_field({ add: true, field: 'Core.TuitionRate.Transaction.Rule', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'Core.TuitionRate.Transaction.MinimumCredits', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'Core.TuitionRate.Transaction.FullTimeCredits', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'Core.TuitionRate.Transaction.MaxFullTimeCredits', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'Core.TuitionRate.Transaction.TransactionCodeID', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'Core.TuitionRate.Transaction.Amount', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'Core.TuitionRate.Transaction.CreditHourRate', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'Core.TuitionRate.Transaction.FullTimeFlatRate', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_display_html({ add: true, field: 'Core.TuitionRate.Transaction.ID', prepend_html: '</tr>' }) }}
  {% for transaction in transactions %}
  <tr>
    {{ kula_field({ delete: true, field: 'Core.TuitionRate.Transaction.ID', db_row_id: transaction.TUITION_RATE_TRANSACTION_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ edit: true, field: 'Core.TuitionRate.Transaction.Rule', db_row_id: transaction.TUITION_RATE_TRANSACTION_ID, value: transaction.RULE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'Core.TuitionRate.Transaction.MinimumCredits', db_row_id: transaction.TUITION_RATE_TRANSACTION_ID, value: transaction.MIN_CREDITS, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'Core.TuitionRate.Transaction.FullTimeCredits', db_row_id: transaction.TUITION_RATE_TRANSACTION_ID, value: transaction.FULL_TIME_CREDITS, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'Core.TuitionRate.Transaction.MaxFullTimeCredits', db_row_id: transaction.TUITION_RATE_TRANSACTION_ID, value: transaction.MAX_FULL_TIME_CREDITS, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'Core.TuitionRate.Transaction.TransactionCodeID', db_row_id: transaction.TUITION_RATE_TRANSACTION_ID, value: transaction.TRANSACTION_CODE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'Core.TuitionRate.Transaction.Amount', db_row_id: transaction.TUITION_RATE_TRANSACTION_ID, value: transaction.AMOUNT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'Core.TuitionRate.Transaction.CreditHourRate', db_row_id: transaction.TUITION_RATE_TRANSACTION_ID, value: transaction.CREDIT_HOUR_RATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'Core.TuitionRate.Transaction.FullTimeFlatRate', db_row_id: transaction.TUITION_RATE_TRANSACTION_ID, value: transaction.FULL_TIME_FLAT_RATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
        <td>
      <a class="normal-link"  data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}" href="{{ path('Core_Billing_BillingSetup_TuitionRates_Transactions_Refunds', { tuition_rate_id: tuition_rate_id, transaction_id: transaction.TUITION_RATE_TRANSACTION_ID }) }}">Refunds</a>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}