{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}

<div class="group-box">
<div class="group-box-header">Add Constituent</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, field: 'Core.Constituent.LastName', table_row: false, label: true }) }}
{{ kula_field({ add: true, field: 'Core.Constituent.FirstName', table_row: false, label: true }) }}
{{ kula_field({ add: true, field: 'Core.Constituent.MiddleName', table_row: false, label: true }) }}
</div>
</div>

<div class="group-box">
<div class="group-box-header">Add User</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, field: 'Core.User.Username', table_row: false, label: true }) }}
{{ kula_field({ add: true, field: 'Core.User.Password', table_row: false, label: true }) }}
{{ kula_field({ add: true, field: 'Core.User.Password', table_row: false, field_name_override: 'Password Confirmation', label: true, confirmation: true}) }}
</div>
</div>

{% endblock %}