{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Awards
<span class="data-table-header-buttons">
</span>
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
	<tr>
	{{ kula_field_name({ edit: true, db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'POSTED', field_name_override: 'P', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'FAID_STUDENT_AWARD_YEAR', db_field: 'AWARD_YEAR', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_STUDENT_AWARD_YEAR_TERMS', db_field: 'ORGANIZATION_TERM_ID', field_name_override: 'Org / Term / Sq', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_STUDENT_AWARDS', db_field: 'AWARD_CODE_ID', field_name_override: 'Award', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_STUDENT_AWARDS', db_field: 'DISBURSEMENT_DATE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_STUDENT_AWARDS', db_field: 'AWARD_STATUS', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_STUDENT_AWARDS', db_field: 'GROSS_AMOUNT', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_STUDENT_AWARDS', db_field: 'NET_AMOUNT', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'FAID_STUDENT_AWARDS', db_field: 'SHOW_ON_STATEMENT', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	</tr>
</thead>
<tbody>
	{% for award in awards %}
	<tr>
	{{ kula_field({ delete: true, post_type: 'post', db_table: 'BILL_CONSTITUENT_TRANSACTIONS', db_field: 'CONSTITUENT_TRANSACTION_ID', db_row_id: award.AWARD_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ input: false, db_table: 'FAID_STUDENT_AWARD_YEAR', db_field: 'AWARD_YEAR', value: award.AWARD_YEAR, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ input: false, db_table: 'FAID_STUDENT_AWARD_YEAR_TERMS', db_row_id: award.AWARD_ID, db_field: 'ORGANIZATION_TERM_ID', value: award.ORGANIZATION_TERM_ID, prepend_html: '<td>', append_html: ' / '~award.SEQUENCE~'</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ input: false, db_table: 'FAID_STUDENT_AWARDS', db_row_id: award.AWARD_ID, db_field: 'AWARD_CODE_ID', value: award.AWARD_CODE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'FAID_STUDENT_AWARDS', db_row_id: award.AWARD_ID, db_field: 'DISBURSEMENT_DATE', value: award.DISBURSEMENT_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'FAID_STUDENT_AWARDS', db_row_id: award.AWARD_ID, db_field: 'AWARD_STATUS', value: award.AWARD_STATUS, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'FAID_STUDENT_AWARDS', db_row_id: award.AWARD_ID, db_field: 'GROSS_AMOUNT', value: award.GROSS_AMOUNT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'FAID_STUDENT_AWARDS', db_row_id: award.AWARD_ID, db_field: 'NET_AMOUNT', value: award.NET_AMOUNT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'FAID_STUDENT_AWARDS', db_row_id: award.AWARD_ID, db_field: 'SHOW_ON_STATEMENT', value: award.SHOW_ON_STATEMENT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}