{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Course History
<span class="data-table-header-buttons">
  {{ kula_table_add('window_window_num_data_table_course_history', 'STUD_STUDENT_COURSE_HISTORY') }}
</span>
</div>
<table id="window_window_num_data_table_course_history" class="data-table">
<thead>
  <tr>
  {{ kula_field_name({ delete: true, field: 'HEd.Student.CourseHistory.ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'HEd.Student.CourseHistory.CalendarMonth', field_name_override: 'Cal Mon', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.CourseHistory.CalendarYear', field_name_override: 'Cal Yr', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.CourseHistory.Term', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.CourseHistory.CourseID', field_name_override: 'Org Crs', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.CourseHistory.CourseNumber', field_name_override: 'Crs Num', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.CourseHistory.CourseTitle', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.CourseHistory.Level', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.CourseHistory.CreditsAttempted', field_name_override: 'Crd Att', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.CourseHistory.CreditsEarned', field_name_override: 'Crd Ern', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Student.CourseHistory.Mark', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
    <th class="data-table-cell-row-header">...</th>
  </tr>
</thead>
<tbody>
  {{ kula_display_html({ add: true, field: 'HEd.Student.CourseHistory.ID', prepend_html: '<tr class="data-table-row-new">' }) }}
  {{ kula_field({ add: true, hidden: true, field: 'HEd.Student.CourseHistory.StudentID', value: kula_core_record.getSelectedRecord.STUDENT_ID }) }}
  {{ kula_field({ add: true, delete: true, field: 'HEd.Student.CourseHistory.ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
  {{ kula_display_html({ add: true, field: 'HEd.Student.CourseHistory.ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
  {{ kula_field({ add: true, field: 'HEd.Student.CourseHistory.CalendarMonth', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Student.CourseHistory.CalendarYear', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Student.CourseHistory.Term', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Student.CourseHistory.CourseID', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Student.CourseHistory.CourseNumber', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Student.CourseHistory.CourseTitle', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Student.CourseHistory.Level', lookup: 'C', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Student.CourseHistory.CreditsAttempted', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Student.CourseHistory.CreditsEarned', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Student.CourseHistory.MarkScaleID', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_display_html({ add: true, field: 'HEd.Student.CourseHistory.ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
  {{ kula_display_html({ add: true, field: 'HEd.Student.CourseHistory.ID', prepend_html: '</tr>' }) }}
  {% for ch in course_history %}
  <tr>
    {{ kula_field({ delete: true, field: 'HEd.Student.CourseHistory.ID', db_row_id: ch.COURSE_HISTORY_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num"><a class="data-table-detail-link" data-row-id-prefix="ch" data-row-id="{{ ch.COURSE_HISTORY_ID }}" href="{{ path('sis_HEd_student_coursehistory_coursehistory_detail_edit', { id : kula_core_record.getSelectedRecord.STUDENT_ID, sub_id : ch.COURSE_HISTORY_ID }) }}">{{ loop.index }}</a></td>
    {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.CalendarMonth', db_row_id: ch.COURSE_HISTORY_ID, value: ch.CALENDAR_MONTH, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.CalendarYear', db_row_id: ch.COURSE_HISTORY_ID, value: ch.CALENDAR_YEAR, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.Term', db_row_id: ch.COURSE_HISTORY_ID, value: ch.TERM, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.CourseID', db_row_id: ch.COURSE_HISTORY_ID, value: ch.COURSE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input', style: 'width:6em;' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.CourseNumber', db_row_id: ch.COURSE_HISTORY_ID, value: ch.COURSE_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.CourseTitle', db_row_id: ch.COURSE_HISTORY_ID, value: ch.COURSE_TITLE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.Level', db_row_id: ch.COURSE_HISTORY_ID, lookup: 'C', value: ch.LEVEL, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.CreditsAttempted', db_row_id: ch.COURSE_HISTORY_ID, value: ch.CREDITS_ATTEMPTED, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.CreditsEarned', db_row_id: ch.COURSE_HISTORY_ID, value: ch.CREDITS_EARNED, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Student.CourseHistory.Mark', db_row_id: ch.COURSE_HISTORY_ID, value: ch.MARK, MARK_SCALE_ID: ch.MARK_SCALE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    <td class="data-table-cell-row-detail"><a class="data-table-detail-link" data-row-id-prefix="ch" data-row-id="{{ ch.COURSE_HISTORY_ID }}" href="{{ path('sis_HEd_student_coursehistory_coursehistory_detail_edit', { id : kula_core_record.getSelectedRecord.STUDENT_ID, sub_id : ch.COURSE_HISTORY_ID }) }}">...</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}