{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
{% if request.get('_route') == 'Core_Logs_API_Session_User' %}
  {% set parent_route = 'Core_Logs_API_Session_User_Requests' %}
{% else %}
  {% set parent_route = 'Core_Logs_API_Session_Requests' %}
{% endif %}
<div class="data-table-header-div">
Session Log
</div>
<table id="window_window_num_data_table_usergroups" class="data-table">
<thead>
  <tr>
  {{ kula_field_name({ field: 'Log.Session.ID', field_name_override: 'ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Integration.APIApplications.Application', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Log.Session.UserID', field_name_override: 'User ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Core.Constituent.LastName', field_name_override: 'User', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Log.Session.InTime', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'Log.Session.IPAddress', field_name_override: 'IP', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">...</th>
</tr>
</thead>
<tbody>
  {% for session in sessions %}
  <tr>
    {{ kula_field({ input: false, field: 'Log.Session.ID', value: session.SESSION_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'Core.Integration.APIApplications.Application', value: session.APPLICATION, prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'Log.Session.ID', value: session.USER_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'Core.Constituent.LastName', value: session.LAST_NAME~', '~session.FIRST_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'Log.Session.InTime', value: session.IN_TIME, prepend_html: '<td style= "white-space: nowrap">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ input: false, field: 'Log.Session.IPAddress', value: session.IP_ADDRESS, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
{% if request.get('_route') == 'Core_Logs_API_Session_User' %}
  <td class="data-table-cell-row-detail"><a class="normal-link" data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}" href="{{ path('Core_Logs_API_Session_User_Requests', { session_id: session.SESSION_ID }) }}">...</a></td>
{% else %}
  <td class="data-table-cell-row-detail"><a class="normal-link" href="{{ path('Core_Logs_API_Session_Requests', { session_id: session.SESSION_ID }) }}">...</a></td>
{% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}