{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Current Schedule for Grades
<span class="data-table-header-buttons">
</span>
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
	<tr>
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'STUD_SECTION', db_field: 'SECTION_NUMBER', field_name_override: 'Section', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_COURSE', db_field: 'COURSE_NUMBER', field_name_override: 'Course', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_COURSE', db_field: 'COURSE_TITLE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STAFF', db_field: 'ABBREVIATED_NAME', field_name_override: 'Instructor', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_CLASSES', db_field: 'DROPPED', field_name_override: 'Dropped', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_CLASSES', db_field: 'DROP_DATE', field_name_override: 'Drop Date', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION', db_field: 'CREDITS', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'MARK', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
</tr>
</thead>
<tbody>
	{% for class in classes %}
	<tr>
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ db_table: 'STUD_SECTION', db_field: 'SECTION_NUMBER', input: false, value: class.SECTION_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_COURSE', db_field: 'COURSE_NUMBER', input: false, value: class.COURSE_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_COURSE', db_field: 'COURSE_TITLE', input: false, value: class.COURSE_TITLE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_STAFF', db_field: 'ABBREVIATED_NAME', input: false, value: class.ABBREVIATED_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_STUDENT_CLASSES', db_field: 'DROPPED', input: false, value: class.DROPPED, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_STUDENT_CLASSES', db_field: 'DROP_DATE', input: false, value: class.DROP_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_SECTION', db_field: 'CREDITS', input: false, value: class.CREDITS_ATTEMPTED, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{% if class.COURSE_HISTORY_ID %}
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'MARK', db_row_id: class.COURSE_HISTORY_ID, value: class.MARK, MARK_SCALE_ID: class.MARK_SCALE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{% else %}
		{{ kula_field({ add: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'MARK',  table_row: false, db_row_id: class.STUDENT_CLASS_ID, MARK_SCALE_ID: class.MARK_SCALE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}		
		{% endif %}
	</tr>
	{% if class.ALLOW_COMMENTS == 'Y' or class.REQUIRE_COMMENTS == 'Y' %}
		<tr>
			<td class="data-table-cell-row-num">{{ loop.index }}</td>
      {{ kula_field({ edit: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'COMMENTS', db_row_id: class.COURSE_HISTORY_ID, value: class.COMMENTS, prepend_html: '<td colspan="8">', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    </tr>
	{% endif %}
	{% endfor %}
</tbody>
</table>
{% endblock %}