{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}

<div class="data-table-header-div">
Current Schedule
<span class="data-table-header-buttons">
</span>
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'STUD_SECTION', db_field: 'SECTION_NUMBER', field_name_override: 'Section', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_COURSE', db_field: 'COURSE_NUMBER', field_name_override: 'Course', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_COURSE', db_field: 'COURSE_TITLE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION', db_field: 'CREDITS', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_CLASSES', db_field: 'START_DATE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_CLASSES', db_field: 'END_DATE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_CLASSES', db_field: 'DROPPED', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_CLASSES', db_field: 'DROP_DATE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">Created Timestamp</th>
	<th class="data-table-cell-row-header">...</th>
</thead>
<tbody>
	{% for class in classes %}
	<tr>
		<td class="data-table-cell-row-num">{{ loop.index }}</td>
		{{ kula_field({ db_table: 'STUD_SECTION', db_field: 'SECTION_NUMBER', input: false, value: class.SECTION_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_COURSE', db_field: 'COURSE_NUMBER', input: false, value: class.COURSE_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_COURSE', db_field: 'COURSE_TITLE', input: false, value: class.COURSE_TITLE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_SECTION', db_field: 'CREDITS', input: false, value: class.CREDITS, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_CLASSES', db_field: 'START_DATE', db_row_id: class.STUDENT_CLASS_ID, value: class.START_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_CLASSES', db_field: 'END_DATE', db_row_id: class.STUDENT_CLASS_ID, value: class.END_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_CLASSES', db_field: 'DROPPED', db_row_id: class.STUDENT_CLASS_ID, value: class.DROPPED, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_CLASSES', db_field: 'DROP_DATE', db_row_id: class.STUDENT_CLASS_ID, value: class.DROP_DATE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		<td>{{ class.CREATED_TIMESTAMP }}</td>
		<td class="data-table-cell-row-detail"><a class="data-table-detail-link" data-row-id-prefix="class" data-row-id="{{ class.STUDENT_CLASS_ID }}" href="{{ path('sis_student_schedule_detail_edit', { id: record_obj.getSelectedRecord.STUDENT_STATUS_ID, sub_id: class.STUDENT_CLASS_ID }) }}">...</a></td>
	</tr>
	{% endfor %}
</tbody>
</table>


{% endblock %}