{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block content %}

{% if classes %}
<div class="group-box">
<div class="group-box-header">Drop Sections</div>
<div class="group-box-contents group">
{{ kula_field({ non: true, db_table: 'STUD_STUDENT_CLASSES', db_field: 'DROP_DATE', value:"now"|date("m/d/Y"), label: true }) }}
</div>
</div>
{% endif %}

<div class="data-table-header-div">
Current Schedule
<span class="data-table-header-buttons">
</span>
</div>
<table id="window_window_num_data_table_terms" class="data-table">
<thead>
	{{ kula_field_name({ delete: true, db_table: 'STUD_STUDENT_CLASSES', db_field: 'STUDENT_CLASS_ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">#</th>
	{{ kula_field_name({ db_table: 'STUD_SECTION', db_field: 'SECTION_NUMBER', field_name_override: 'Section', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_COURSE', db_field: 'COURSE_NUMBER', field_name_override: 'Course', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_COURSE', db_field: 'COURSE_TITLE', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION', db_field: 'CALC_MEETS', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'START_TIME', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'END_TIME', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_ROOM', db_field: 'ROOM_NAME', field_name_override: 'Room', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STAFF', db_field: 'ABBREVIATED_NAME', field_name_override: 'Instructor', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_SECTION', db_field: 'CREDITS', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_CLASSES', db_field: 'LEVEL', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	{{ kula_field_name({ db_table: 'STUD_STUDENT_CLASSES', db_field: 'MARK_SCALE_ID', field_name_override: 'Grade Method', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
	<th class="data-table-cell-row-header">...</th>
</thead>
<tbody>
	{% set lastsectionid = '' %}
	{% set index = 1 %}
	{% for class in classes %}
	<tr>
		{% if class.SECTION_ID == lastsectionid %}
		{{ kula_display_html({ delete: true, db_table: 'STUD_STUDENT_CLASSES', db_field: 'STUDENT_CLASS_ID', prepend_html: '<td class="data-table-cell-row-delete">&nbsp;', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">&nbsp;</td>
		<td colspan="3">&nbsp;</td>
		{{ kula_field({ db_table: 'STUD_SECTION', db_field: 'CALC_MEETS', input: false, value: class.meets, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'START_TIME', input: false, value: class.START_TIME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'END_TIME', input: false, value: class.END_TIME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_ROOM', db_field: 'ROOM_NUMBER', input: false, value: class.ROOM_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		<td colspan="5">&nbsp;</td>
		{% else %}
		{{ kula_field({ delete: true, db_table: 'STUD_STUDENT_CLASSES', db_field: 'STUDENT_CLASS_ID', db_row_id: class.STUDENT_CLASS_ID, post_type: 'drop', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
		<td class="data-table-cell-row-num">{{ index }}</td>
		{{ kula_field({ db_table: 'STUD_SECTION', db_field: 'SECTION_NUMBER', input: false, value: class.SECTION_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{% if class.COURSE_ID %}
		{{ kula_field({ db_table: 'STUD_COURSE', db_field: 'COURSE_NUMBER', input: false, value: class.second_COURSE_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_COURSE', db_field: 'COURSE_TITLE', input: false, value: class.second_COURSE_TITLE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{% else %}
		{{ kula_field({ db_table: 'STUD_COURSE', db_field: 'COURSE_NUMBER', input: false, value: class.COURSE_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_COURSE', db_field: 'COURSE_TITLE', input: false, value: class.COURSE_TITLE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{% endif %}
		{{ kula_field({ db_table: 'STUD_SECTION', db_field: 'CALC_MEETS', input: false, value: class.meets, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'START_TIME', input: false, value: class.START_TIME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_SECTION_MEETINGS', db_field: 'END_TIME', input: false, value: class.END_TIME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_ROOM', db_field: 'ROOM_NUMBER', input: false, value: class.ROOM_NUMBER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ db_table: 'STUD_STAFF', db_field: 'ABBREVIATED_NAME', input: false, value: class.ABBREVIATED_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_CLASSES', db_field: 'CREDITS_ATTEMPTED', db_row_id: class.STUDENT_CLASS_ID, value: class.CREDITS_ATTEMPTED, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_CLASSES', db_row_id: class.STUDENT_CLASS_ID, db_field: 'LEVEL', lookup: 'C', value: class.LEVEL, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_CLASSES', db_row_id: class.STUDENT_CLASS_ID, db_field: 'MARK_SCALE_ID', value: class.MARK_SCALE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
		<td class="data-table-cell-row-detail"><a class="data-table-detail-link" data-row-id-prefix="class" data-row-id="{{ class.STUDENT_CLASS_ID }}" href="{{ path('sis_student_schedule_detail_edit', { id: record_obj.getSelectedRecord.STUDENT_STATUS_ID, sub_id: class.STUDENT_CLASS_ID }) }}">...</a></td>
	</tr>
	{% set index = index + 1 %}
	{% endif %}
	{% set lastsectionid = class.SECTION_ID %}
	{% endfor %}
</tbody>
</table>

{% endblock %}