{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}

{% block content %}
<p>
<a class="normal-link" data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}" href="{{ path('sis_HEd_degrees_requirements_groups', { type: type, id: degree_id }) }}">Back to Requirement Groups</a>
</p>

<div class="data-table-header-div">
Requirement Group Courses
<span class="data-table-header-buttons">
  {{ kula_table_add('window_window_num_data_table_requirement_groups', 'STUD_DEGREE_REQ_GRP_CRS_REQ_GRP_CRS') }}
</span>
</div>
<table id="window_window_num_data_table_requirement_groups" class="data-table">
<thead>
  <tr>
  {{ kula_field_name({ delete: true, field: 'HEd.Degree.Requirement.Group.Course.ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'HEd.Degree.Requirement.Group.Course.CourseID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Degree.Requirement.Group.Course.Required', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.Degree.Requirement.Group.Course.ShowAsOption', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">...</th>
  </tr>
</thead>
<tbody>
  {{ kula_display_html({ add: true, field: 'HEd.Degree.Requirement.Group.Course.ID', prepend_html: '<tr class="data-table-row-new">' }) }}
  {{ kula_field({ add: true, field: 'HEd.Degree.Requirement.Group.Course.DegreeRequirementCourseGroupID', value: requirement_group_id, hidden: true }) }}
  {{ kula_field({ add: true, delete: true, field: 'HEd.Degree.Requirement.Group.Course.ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
  {{ kula_display_html({ add: true, field: 'HEd.Degree.Requirement.Group.Course.ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
  {{ kula_field({ add: true, field: 'HEd.Degree.Requirement.Group.Course.CourseID', prepend_html: '<td>', append_html: '</td>', attributes_html: { class: 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Degree.Requirement.Group.Course.Required', prepend_html: '<td>', append_html: '</td>', attributes_html: { class: 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.Degree.Requirement.Group.Course.ShowAsOption', prepend_html: '<td>', append_html: '</td>', attributes_html: { class: 'data-table-cell-input' } }) }}
  {{ kula_display_html({ add: true, field: 'HEd.Degree.Requirement.Group.Course.ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
  {{ kula_display_html({ add: true, field: 'HEd.Degree.Requirement.Group.Course.ID', prepend_html: '</tr>' }) }}
  {% for req in requirement_grp_courses %}
  <tr>
    {{ kula_field({ delete: true, field: 'HEd.Degree.Requirement.Group.Course.ID', db_row_id: req.DEGREE_REQ_GRP_CRS_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ edit: true, field: 'HEd.Degree.Requirement.Group.Course.CourseID', db_row_id: req.DEGREE_REQ_GRP_CRS_ID, value: req.COURSE_ID, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Degree.Requirement.Group.Course.Required', db_row_id: req.DEGREE_REQ_GRP_CRS_ID, value: req.REQUIRED, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.Degree.Requirement.Group.Course.ShowAsOption', db_row_id: req.DEGREE_REQ_GRP_CRS_ID, value: req.SHOW_AS_OPTION, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    <td class="data-table-cell-row-detail"><a class="normal-link"  data-record-id="{{ kula_core_record.getSelectedRecordID() }}" data-record-type="{{ kula_core_record.getRecordType() }}" href="{{ path('sis_HEd_degrees_requirements_groups_courses_equiv', { id: req.DEGREE_REQ_GRP_CRS_ID }) }}">...</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}