{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<div class="data-table-header-div">
Repeat Tags
<span class="data-table-header-buttons">
  {{ kula_table_add('window_window_num_data_table_mark_scales', 'STUD_REPEAT_TAG') }}
</span>
</div>
<table id="window_window_num_data_table_mark_scales" class="data-table">
<thead>
  <tr>
  {{ kula_field_name({ delete: true, field: 'HEd.RepeatTag.ID', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  <th class="data-table-cell-row-header">#</th>
  {{ kula_field_name({ field: 'HEd.RepeatTag.Code', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.RepeatTag.Name', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.RepeatTag.InactiveAfter', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.RepeatTag.IncludeTermCreditsAttempted', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.RepeatTag.IncludeTermCreditsEarned', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.RepeatTag.IncludeCumulativeCreditsAttempted', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.RepeatTag.IncludeCumulativeCreditsEarned', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.RepeatTag.IncludeTermGPA', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  {{ kula_field_name({ field: 'HEd.RepeatTag.IncludeCumulativeGPA', prepend_html: '<th class="data-table-cell-row-header">', append_html: '</th>' }) }}
  </tr>
</thead>
<tbody>
  {{ kula_display_html({ add: true, field: 'HEd.RepeatTag.ID', prepend_html: '<tr class="data-table-row-new">' }) }}
  {{ kula_field({ add: true, delete: true, field: 'HEd.RepeatTag.ID', prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
  {{ kula_display_html({ add: true, field: 'HEd.RepeatTag.ID', prepend_html: '<td class="data-table-cell-row-num">#</td>' }) }}
  {{ kula_field({ add: true, field: 'HEd.RepeatTag.Code', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.RepeatTag.Name', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.RepeatTag.InactiveAfter', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.RepeatTag.IncludeTermCreditsAttempted', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.RepeatTag.IncludeTermCreditsEarned', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.RepeatTag.IncludeCumulativeCreditsAttempted', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.RepeatTag.IncludeCumulativeCreditsEarned', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.RepeatTag.IncludeTermGPA', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_field({ add: true, field: 'HEd.RepeatTag.IncludeCumulativeGPA', prepend_html: '<td>', append_html: '</td>', attributes_html : { class : 'data-table-cell-input' } }) }}
  {{ kula_display_html({ add: true, field: 'HEd.RepeatTag.ID', prepend_html: '</tr>' }) }}
  {% for repeattag in repeat_tags %}
  <tr>
    {{ kula_field({ delete: true, field: 'HEd.RepeatTag.Name', db_row_id: repeattag.REPEAT_TAG_ID, prepend_html: '<td class="data-table-cell-row-delete">', append_html: '</td>' }) }}
    <td class="data-table-cell-row-num">{{ loop.index }}</td>
    {{ kula_field({ edit: true, field: 'HEd.RepeatTag.Code', db_row_id: repeattag.REPEAT_TAG_ID, value: repeattag.REPEAT_TAG_CODE, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.RepeatTag.Name', db_row_id: repeattag.REPEAT_TAG_ID, value: repeattag.REPEAT_TAG_NAME, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.RepeatTag.InactiveAfter', db_row_id: repeattag.REPEAT_TAG_ID, value: repeattag.INACTIVE_AFTER, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.RepeatTag.IncludeTermCreditsAttempted', db_row_id: repeattag.REPEAT_TAG_ID, value: repeattag.INCLUDE_TERM_CREDITS_ATTMPT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.RepeatTag.IncludeTermCreditsEarned', db_row_id: repeattag.REPEAT_TAG_ID, value: repeattag.INCLUDE_TERM_CREDITS_EARNED, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
      {{ kula_field({ edit: true, field: 'HEd.RepeatTag.IncludeCumulativeCreditsAttempted', db_row_id: repeattag.REPEAT_TAG_ID, value: repeattag.INCLUDE_CUM_CREDITS_ATTMPT, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.RepeatTag.IncludeCumulativeCreditsEarned', db_row_id: repeattag.REPEAT_TAG_ID, value: repeattag.INCLUDE_CUM_CREDITS_EARNED, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.RepeatTag.IncludeTermGPA', db_row_id: repeattag.REPEAT_TAG_ID, value: repeattag.INCLUDE_TERM_GPA, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
    {{ kula_field({ edit: true, field: 'HEd.RepeatTag.IncludeCumulativeGPA', db_row_id: repeattag.REPEAT_TAG_ID, value: repeattag.INCLUDE_CUM_GPA, prepend_html: '<td>', append_html: '</td>', attributes_html: { class : 'data-table-cell-input' } }) }}
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}