{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}


{% block content %}
{% if mode == 'edit' %}
<div class="group-box">
<div class="group-box-header">Name</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'Core.Billing.Code.Type', db_row_id: kula_core_record.getSelectedRecord.CODE_ID, value: kula_core_record.getSelectedRecord.CODE_TYPE, label: true }) }}
{{ kula_field({ edit: true, field: 'Core.Billing.Code.Code', db_row_id: kula_core_record.getSelectedRecord.CODE_ID, value: kula_core_record.getSelectedRecord.CODE, label: true }) }}
{{ kula_field({ edit: true, field: 'Core.Billing.Code.Description', db_row_id: kula_core_record.getSelectedRecord.CODE_ID, value: kula_core_record.getSelectedRecord.CODE_DESCRIPTION, label: true }) }}
</div>
</div>
{% endif %}
<div class="group-box">
<div class="group-box-header">Other Info</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'Core.Billing.Code.InactiveAfter', db_row_id: kula_core_record.getSelectedRecord.CODE_ID, value: code.INACTIVE_AFTER, label: true }) }}
{{ kula_field({ edit: true, field: 'Core.Billing.Code.ConversionCodeNumber', db_row_id: kula_core_record.getSelectedRecord.CODE_ID, value: code.CONV_CODE, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">1098-T</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, field: 'Core.Billing.Code.Form1098TBox2', db_row_id: kula_core_record.getSelectedRecord.CODE_ID, value: code.FORM1098T_BOX2, label: true }) }}
{{ kula_field({ edit: true, field: 'Core.Billing.Code.Form1098TBox5', db_row_id: kula_core_record.getSelectedRecord.CODE_ID, value: code.FORM1098T_BOX5, label: true }) }}
</div>
</div>
{% endblock %}