{% extends 'KulaFrameworkBundle::sis.html.twig' %}

{% block detail %}
<div class="group-box">
<div class="group-box-header">Organization</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'ORGANIZATION_ID', db_row_id: course_history.COURSE_HISTORY_ID, field_name_override: 'Organization', value: course_history.ORGANIZATION_ID, label: true }) }}
{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'NON_ORGANIZATION_ID', db_row_id: course_history.COURSE_HISTORY_ID, field_name_override: 'Non-Organization', value: course_history.NON_ORGANIZATION_ID, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Course</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'COURSE_ID', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.COURSE_ID, field_name_override: 'Org Course', label: true }) }}
</div>
</div>
</div>
<div class="group-box">
<div class="group-box-header">Dates</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'START_DATE', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.START_DATE, label: true }) }}
{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'COMPLETED_DATE', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.COMPLETED_DATE, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Instructor</div>
<div class="group-box-contents group">
{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'INSTRUCTOR_ID', db_row_id: course_history.COURSE_HISTORY_ID, field_name_override: 'Org Instructor', value: course_history.INSTRUCTOR_ID, label: true }) }}
{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'INSTRUCTOR', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.INSTRUCTOR, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Grading</div>
<div class="group-box-contents group">
	{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'MARK_SCALE_ID', db_row_id: course_history.COURSE_HISTORY_ID, field_name_override: 'Mark Scale', value: course_history.MARK_SCALE_ID, label: true }) }}
</div>
<div class="group-box-contents group">
	{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'COMMENTS', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.COMMENTS, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">GPA</div>
<div class="group-box-contents group">
{{ kula_field({ db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'GPA_VALUE', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.GPA_VALUE, label: true }) }}
{{ kula_field({ db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'QUALITY_POINTS', db_row_id: course_history.COURSE_HISTORY_ID, value: course_history.QUALITY_POINTS, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Degree Requirement Group</div>
<div class="group-box-contents group">
	{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'DEGREE_REQ_GRP_ID', db_row_id: course_history.COURSE_HISTORY_ID, field_name_override: 'Req Group', value: course_history.DEGREE_REQ_GRP_ID, STUDENT_ID: record_obj.getSelectedRecord().STUDENT_ID, label: true }) }}
</div>
</div>
<div class="group-box">
<div class="group-box-header">Schedule</div>
<div class="group-box-contents group">
	{{ kula_field({ edit: true, db_table: 'STUD_STUDENT_COURSE_HISTORY', db_field: 'STUDENT_CLASS_ID', db_row_id: course_history.COURSE_HISTORY_ID, field_name_override: 'Schedule', value: course_history.STUDENT_CLASS_ID, STUDENT_ID: record_obj.getSelectedRecord().STUDENT_ID, label: true }) }}
</div>
</div>
{% endblock %}